In [1]:
import pandas as pd, numpy as np, datetime as dt, re
import matplotlib.pyplot as plt, scipy.stats as stats
import sqlalchemy as sql

In C:\Users\Kyle\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Kyle\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Kyle\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\Kyle\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Kyle\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Kyle\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Kyle\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Kyle\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
engine = sql.create_engine(f"sqlite:///../data/interim/NBA.db")
conn = engine.connect()
df_all = pd.read_sql("SELECT * FROM basic_stats", con=conn)

In [3]:
df_all.shape

(830021, 26)

In [4]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830021 entries, 0 to 830020
Data columns (total 26 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              830021 non-null  int64
 1   name            830021 non-null  object
 2   minutes_played  640649 non-null  float64
 3   fg              640649 non-null  float64
 4   fga             640649 non-null  float64
 5   fg_pct          640649 non-null  float64
 6   fg3             640649 non-null  float64
 7   fg3a            640649 non-null  float64
 8   fg3_pct         640649 non-null  float64
 9   ft              640649 non-null  float64
 10  fta             640649 non-null  float64
 11  ft_pct          640649 non-null  float64
 12  orb             640649 non-null  float64
 13  drb             640649 non-null  float64
 14  trb             640649 non-null  float64
 15  ast             640649 non-null  float64
 16  stl             640649 non-null  float64
 17  blk             640649 non-null  float64
 18  tov             640649 non-null  float64
 19  pf              640649 non-null  float64
 20  pts             640649 non-null  float64
 21  bpm             640649 non-null  float64
 22  dnp             830021 non-null  int64
 23  timetype        830021 non-null  object
 24  team            830021 non-null  object
 25  game_code       830021 non-null  object
dtypes: float64(20), int64(2), object(4)
memory usage: 164.6+ MB

In [5]:
# player data is complete for the whole seasons, nulls reference players who were on roster but did not register a second of playing time (dnp column = 1)

In [7]:
# Timebased Breakdown of All the Stats
df_all.groupby("timetype").count()

,id,name,minutes_played,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,...,ast,stl,blk,tov,pf,pts,bpm,dnp,team,game_code
timetype,,,,,,,,,,,,,,,,,,,,,
1H,117497,117497,92342,92342,92342,92342,92342,92342,92342,92342,...,92342,92342,92342,92342,92342,92342,92342,117497,117497,117497
1Q,117497,117497,87255,87255,87255,87255,87255,87255,87255,87255,...,87255,87255,87255,87255,87255,87255,87255,117497,117497,117497
2H,117497,117497,96168,96168,96168,96168,96168,96168,96168,96168,...,96168,96168,96168,96168,96168,96168,96168,117497,117497,117497
2OT,821,821,428,428,428,428,428,428,428,428,...,428,428,428,428,428,428,428,821,821,821
2Q,117497,117497,89137,89137,89137,89137,89137,89137,89137,89137,...,89137,89137,89137,89137,89137,89137,89137,117497,117497,117497
3OT,133,133,73,73,73,73,73,73,73,73,...,73,73,73,73,73,73,73,133,133,133
3Q,117497,117497,85652,85652,85652,85652,85652,85652,85652,85652,...,85652,85652,85652,85652,85652,85652,85652,117497,117497,117497
4OT,54,54,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,54,54,54
4Q,117497,117497,86246,86246,86246,86246,86246,86246,86246,86246,...,86246,86246,86246,86246,86246,86246,86246,117497,117497,117497
OT,6534,6534,3463,3463,3463,3463,3463,3463,3463,3463,...,3463,3463,3463,3463,3463,3463,3463,6534,6534,6534
TotalBasics,117497,117497,99855,99855,99855,99855,99855,99855,99855,99855,...,99855,99855,99855,99855,99855,99855,99855,117497,117497,117497

In [8]:
df_all.groupby("name").count().sort_values("fg", ascending=False)

,id,minutes_played,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,fta,...,stl,blk,tov,pf,pts,bpm,dnp,timetype,team,game_code
name,,,,,,,,,,,,,,,,,,,,,
Team Totals,60836,60836,60836,60836,60836,60836,60836,60836,60836,60836,...,60836,60836,60836,60836,60836,60836,60836,60836,60836,60836
Joe Ingles,2181,2151,2151,2151,2151,2151,2151,2151,2151,2151,...,2151,2151,2151,2151,2151,2151,2181,2181,2181,2181
P.J. Tucker,2193,2138,2138,2138,2138,2138,2138,2138,2138,2138,...,2138,2138,2138,2138,2138,2138,2193,2193,2193,2193
Jae Crowder,2254,2119,2119,2119,2119,2119,2119,2119,2119,2119,...,2119,2119,2119,2119,2119,2119,2254,2254,2254,2254
Donovan Mitchell,2138,2092,2092,2092,2092,2092,2092,2092,2092,2092,...,2092,2092,2092,2092,2092,2092,2138,2138,2138,2138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sheldon Mac,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,15,15,15,15
Jaren Jackson Jr.,17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,17,17,17,17
Cody Demps,14,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,14,14,14,14
Jontay Porter,35,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,35,35,35,35
A.J. Hammons,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,7,7,7

In [17]:
df_all[(df_all.name != "Team Totals") & ((df_all.timetype == "1H") | (df_all.timetype == "2H"))].groupby(["team", "game_code"]).sum().head()

                         id  minutes_played    fg   fga  fg_pct   fg3  fg3a  \
team game_code
ATL  201710180DAL  20546344        240.0001  48.0  94.0  11.805   9.0  18.0
     201710200CHO  18862090        240.0000  36.0  95.0   6.882   7.0  30.0
     201710220BRK  15718638        240.0000  32.0  94.0   6.634   7.0  27.0
     201710230MIA  18351320        240.0001  36.0  76.0   8.494   7.0  17.0
     201710260CHI  17623892        239.9999  32.0  81.0   6.404  11.0  28.0

                   fg3_pct    ft   fta  ...   drb   trb   ast   stl  blk  \
team game_code                          ...
ATL  201710180DAL    6.000  12.0  15.0  ...  36.0  50.0  20.0  11.0  6.0
     201710200CHO    4.166  12.0  14.0  ...  32.0  38.0  19.0  11.0  4.0
     201710220BRK    3.583  33.0  36.0  ...  32.0  48.0  21.0   6.0  2.0
     201710230MIA    4.833  14.0  18.0  ...  35.0  41.0  14.0   9.0  1.0
     201710260CHI    4.167  11.0  13.0  ...  33.0  40.0  22.0  10.0  5.0

                    tov    pf    pts   bpm  dnp
team game_code
ATL  201710180DAL  13.0  18.0  117.0  30.0    3
     201710200CHO  13.0  29.0   91.0 -90.0    2
     201710220BRK  16.0  25.0  104.0 -65.0    2
     201710230MIA  20.0  16.0   93.0 -55.0    7
     201710260CHI  10.0  23.0   86.0 -25.0    7

[5 rows x 22 columns]

In [16]:
df_all[(df_all.name != "Total Totals") & ((df_all.timetype == "1H") | (df_all.timetype == "2H"))].head(35)

,id,name,minutes_played,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,...,stl,blk,tov,pf,pts,bpm,dnp,timetype,team,game_code
42,43,Luka Dončić,16.9333,3.0,7.0,0.429,2.0,3.0,0.667,4.0,...,0.0,0.0,2.0,1.0,12.0,-6.0,0,1H,DAL,201810260TOR
43,44,DeAndre Jordan,14.4167,2.0,2.0,1.000,0.0,0.0,0.000,4.0,...,0.0,0.0,0.0,1.0,8.0,-9.0,0,1H,DAL,201810260TOR
44,45,Wesley Matthews,15.9167,6.0,9.0,0.667,2.0,4.0,0.500,0.0,...,0.0,0.0,1.0,1.0,14.0,-2.0,0,1H,DAL,201810260TOR
45,46,Jalen Brunson,16.0667,0.0,4.0,0.000,0.0,1.0,0.000,0.0,...,1.0,0.0,0.0,2.0,0.0,-9.0,0,1H,DAL,201810260TOR
46,47,Harrison Barnes,14.3833,4.0,11.0,0.364,1.0,5.0,0.200,1.0,...,0.0,1.0,0.0,1.0,10.0,-17.0,0,1H,DAL,201810260TOR
47,48,Maxi Kleber,13.1667,2.0,3.0,0.667,1.0,2.0,0.500,1.0,...,1.0,2.0,0.0,0.0,6.0,1.0,0,1H,DAL,201810260TOR
48,49,Dorian Finney-Smith,10.4000,0.0,1.0,0.000,0.0,1.0,0.000,0.0,...,0.0,0.0,0.0,2.0,0.0,-3.0,0,1H,DAL,201810260TOR
49,50,J.J. Barea,9.1333,3.0,7.0,0.429,0.0,0.0,0.000,0.0,...,0.0,0.0,1.0,0.0,6.0,0.0,0,1H,DAL,201810260TOR
50,51,Dwight Powell,9.5833,2.0,2.0,1.000,0.0,0.0,0.000,0.0,...,1.0,0.0,1.0,2.0,4.0,0.0,0,1H,DAL,201810260TOR
51,52,Daryl Macon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1H,DAL,201810260TOR
52,53,Dennis Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1H,DAL,201810260TOR
53,54,Salah Mejri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1H,DAL,201810260TOR
54,55,Ryan Broekhoff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1H,DAL,201810260TOR
55,56,Team Totals,120.0000,22.0,46.0,0.478,6.0,16.0,0.375,10.0,...,3.0,3.0,5.0,10.0,60.0,0.0,0,1H,DAL,201810260TOR
84,85,Luka Dončić,18.2167,4.0,7.0,0.571,2.0,3.0,0.667,0.0,...,0.0,0.0,1.0,0.0,10.0,6.0,0,2H,DAL,201810260TOR
85,86,DeAndre Jordan,19.0833,3.0,8.0,0.375,0.0,0.0,0.000,4.0,...,0.0,1.0,2.0,0.0,10.0,9.0,0,2H,DAL,201810260TOR
86,87,Wesley Matthews,16.2833,3.0,6.0,0.500,1.0,4.0,0.250,0.0,...,0.0,0.0,1.0,3.0,7.0,-6.0,0,2H,DAL,201810260TOR
87,88,Jalen Brunson,13.6167,3.0,7.0,0.429,2.0,3.0,0.667,0.0,...,0.0,0.0,2.0,0.0,8.0,6.0,0,2H,DAL,201810260TOR
88,89,Harrison Barnes,13.8500,1.0,6.0,0.167,0.0,0.0,0.000,2.0,...,0.0,0.0,1.0,1.0,4.0,-7.0,0,2H,DAL,201810260TOR
89,90,Maxi Kleber,17.2167,0.0,3.0,0.000,0.0,2.0,0.000,2.0,...,1.0,2.0,0.0,0.0,2.0,-2.0,0,2H,DAL,201810260TOR
90,91,Dorian Finney-Smith,9.5500,2.0,5.0,0.400,1.0,1.0,1.000,0.0,...,1.0,0.0,0.0,2.0,5.0,5.0,0,2H,DAL,201810260TOR
91,92,J.J. Barea,6.4000,0.0,4.0,0.000,0.0,1.0,0.000,1.0,...,0.0,0.0,1.0,0.0,1.0,-5.0,0,2H,DAL,201810260TOR
92,93,Dwight Powell,4.9167,0.0,0.0,0.000,0.0,0.0,0.000,0.0,...,1.0,0.0,1.0,1.0,0.0,-9.0,0,2H,DAL,201810260TOR
93,94,Daryl Macon,0.8667,0.0,0.0,0.000,0.0,0.0,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0,2H,DAL,201810260TOR
94,95,Dennis Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2H,DAL,201810260TOR
95,96,Salah Mejri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2H,DAL,201810260TOR
96,97,Ryan Broekhoff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2H,DAL,201810260TOR
97,98,Team Totals,120.0000,16.0,46.0,0.348,6.0,14.0,0.429,9.0,...,3.0,3.0,9.0,7.0,47.0,0.0,0,2H,DAL,201810260TOR
134,135,Pascal Siakam,16.2833,2.0,3.0,0.667,0.0,1.0,0.000,2.0,...,0.0,0.0,0.0,1.0,6.0,8.0,0,1H,TOR,201810260TOR
135,136,Kyle Lowry,17.5333,4.0,6.0,0.667,2.0,4.0,0.500,1.0,...,0.0,1.0,0.0,1.0,11.0,12.0,0,1H,TOR,201810260TOR
136,137,Kawhi Leonard,17.4833,5.0,9.0,0.556,1.0,2.0,0.500,2.0,...,2.0,0.0,0.0,0.0,13.0,5.0,0,1H,TOR,201810260TOR
137,138,Danny Green,15.8500,3.0,5.0,0.600,3.0,4.0,0.750,3.0,...,0.0,0.0,0.0,1.0,12.0,11.0,0,1H,TOR,201810260TOR
138,139,Jonas Valančiūnas,13.0167,5.0,10.0,0.500,0.0,1.0,0.000,2.0,...,1.0,0.0,1.0,3.0,12.0,8.0,0,1H,TOR,201810260TOR
139,140,Serge Ibaka,10.9833,2.0,6.0,0.333,0.0,1.0,0.000,1.0,...,0.0,2.0,3.0,0.0,5.0,1.0,0,1H,TOR,201810260TOR
140,141,Norman Powell,9.9167,0.0,0.0,0.000,0.0,0.0,0.000,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0,1H,TOR,201810260TOR

In [18]:
# Create a dataframe of all Teams Total Game Stats for each game
df_games = df_all[lambda x: (x.name == "Team Totals") & (x.timetype == "TotalBasics")]

In [19]:
df_games.shape

(8612, 26)

In [20]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8612 entries, 13 to 829936
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              8612 non-null   int64
 1   name            8612 non-null   object
 2   minutes_played  8612 non-null   float64
 3   fg              8612 non-null   float64
 4   fga             8612 non-null   float64
 5   fg_pct          8612 non-null   float64
 6   fg3             8612 non-null   float64
 7   fg3a            8612 non-null   float64
 8   fg3_pct         8612 non-null   float64
 9   ft              8612 non-null   float64
 10  fta             8612 non-null   float64
 11  ft_pct          8612 non-null   float64
 12  orb             8612 non-null   float64
 13  drb             8612 non-null   float64
 14  trb             8612 non-null   float64
 15  ast             8612 non-null   float64
 16  stl             8612 non-null   float64
 17  blk             8612 non-null   float64
 18  tov             8612 non-null   float64
 19  pf              8612 non-null   float64
 20  pts             8612 non-null   float64
 21  bpm             8612 non-null   float64
 22  dnp             8612 non-null   int64
 23  timetype        8612 non-null   object
 24  team            8612 non-null   object
 25  game_code       8612 non-null   object
dtypes: float64(20), int64(2), object(4)
memory usage: 1.8+ MB

In [21]:
# There should be 2 Game Codes per Game (Indicative of 2 teams per Game); Find and Filter Duplicate Games
df_games.groupby("game_code").count().sort_values("fg", ascending=False)[lambda x: x.id > 2]

,id,name,minutes_played,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,...,ast,stl,blk,tov,pf,pts,bpm,dnp,timetype,team
game_code,,,,,,,,,,,,,,,,,,,,,
201901210UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201902010UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201902020UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201902230UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201901140UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201902060UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201901230UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201903020UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201901180UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201901090UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201812250UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201812290UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201812190UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201901250UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201902270UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201902090UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201901120UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201812220UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201812270UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
201901110UTA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4

In [22]:
dup_games = set(df_games.groupby("game_code").count().sort_values("fg", ascending=False)[lambda x: x.id > 2].index)

In [24]:
# Take a look at duplicate games; Make sure both teams are equally duplicated for each game
df_games[df_games.game_code.isin(dup_games)].sort_values(["game_code"]).head(20)

,id,name,minutes_played,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,...,stl,blk,tov,pf,pts,bpm,dnp,timetype,team,game_code
56289,56290,Team Totals,240.0,37.0,93.0,0.398,16.0,42.0,0.381,18.0,...,7.0,6.0,16.0,16.0,108.0,0.0,0,TotalBasics,UTA,201812190UTA
59894,59895,Team Totals,240.0,37.0,93.0,0.398,16.0,42.0,0.381,18.0,...,7.0,6.0,16.0,16.0,108.0,0.0,0,TotalBasics,UTA,201812190UTA
56197,56198,Team Totals,240.0,38.0,95.0,0.400,10.0,31.0,0.323,17.0,...,10.0,9.0,12.0,21.0,103.0,0.0,0,TotalBasics,GSW,201812190UTA
59802,59803,Team Totals,240.0,38.0,95.0,0.400,10.0,31.0,0.323,17.0,...,10.0,9.0,12.0,21.0,103.0,0.0,0,TotalBasics,GSW,201812190UTA
58277,58278,Team Totals,240.0,42.0,89.0,0.472,9.0,25.0,0.360,14.0,...,11.0,5.0,17.0,21.0,107.0,0.0,0,TotalBasics,OKC,201812220UTA
58669,58670,Team Totals,240.0,42.0,89.0,0.472,9.0,25.0,0.360,14.0,...,11.0,5.0,17.0,21.0,107.0,0.0,0,TotalBasics,OKC,201812220UTA
58767,58768,Team Totals,240.0,42.0,93.0,0.452,11.0,34.0,0.324,11.0,...,12.0,4.0,13.0,19.0,106.0,0.0,0,TotalBasics,UTA,201812220UTA
58375,58376,Team Totals,240.0,42.0,93.0,0.452,11.0,34.0,0.324,11.0,...,12.0,4.0,13.0,19.0,106.0,0.0,0,TotalBasics,UTA,201812220UTA
59992,59993,Team Totals,240.0,35.0,89.0,0.393,9.0,23.0,0.391,17.0,...,7.0,3.0,12.0,20.0,96.0,0.0,0,TotalBasics,POR,201812250UTA
60090,60091,Team Totals,240.0,46.0,83.0,0.554,13.0,29.0,0.448,12.0,...,7.0,10.0,17.0,19.0,117.0,0.0,0,TotalBasics,UTA,201812250UTA
57794,57795,Team Totals,240.0,46.0,83.0,0.554,13.0,29.0,0.448,12.0,...,7.0,10.0,17.0,19.0,117.0,0.0,0,TotalBasics,UTA,201812250UTA
57696,57697,Team Totals,240.0,35.0,89.0,0.393,9.0,23.0,0.391,17.0,...,7.0,3.0,12.0,20.0,96.0,0.0,0,TotalBasics,POR,201812250UTA
55141,55142,Team Totals,240.0,33.0,86.0,0.384,11.0,35.0,0.314,20.0,...,11.0,1.0,16.0,19.0,97.0,0.0,0,TotalBasics,UTA,201812270UTA
55049,55050,Team Totals,240.0,43.0,86.0,0.500,13.0,35.0,0.371,15.0,...,7.0,7.0,13.0,21.0,114.0,0.0,0,TotalBasics,PHI,201812270UTA
59334,59335,Team Totals,240.0,33.0,86.0,0.384,11.0,35.0,0.314,20.0,...,11.0,1.0,16.0,19.0,97.0,0.0,0,TotalBasics,UTA,201812270UTA
59242,59243,Team Totals,240.0,43.0,86.0,0.500,13.0,35.0,0.371,15.0,...,7.0,7.0,13.0,21.0,114.0,0.0,0,TotalBasics,PHI,201812270UTA
59145,59146,Team Totals,240.0,51.0,93.0,0.548,16.0,36.0,0.444,11.0,...,8.0,6.0,17.0,27.0,129.0,0.0,0,TotalBasics,UTA,201812290UTA
59047,59048,Team Totals,240.0,32.0,86.0,0.372,15.0,32.0,0.469,18.0,...,10.0,1.0,15.0,19.0,97.0,0.0,0,TotalBasics,NYK,201812290UTA
54679,54680,Team Totals,240.0,32.0,86.0,0.372,15.0,32.0,0.469,18.0,...,10.0,1.0,15.0,19.0,97.0,0.0,0,TotalBasics,NYK,201812290UTA
54777,54778,Team Totals,240.0,51.0,93.0,0.548,16.0,36.0,0.444,11.0,...,8.0,6.0,17.0,27.0,129.0,0.0,0,TotalBasics,UTA,201812290UTA

In [25]:
# Drop duplicates
df_games.drop_duplicates(["team", "game_code"], inplace=True)

C:\Users\Kyle\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
df_games.groupby("game_code").count()

,id,name,minutes_played,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,...,ast,stl,blk,tov,pf,pts,bpm,dnp,timetype,team
game_code,,,,,,,,,,,,,,,,,,,,,
201710170CLE,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
201710170GSW,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
201710180BOS,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
201710180DAL,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
201710180DET,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202103040NYK,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
202103040PHO,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
202103040POR,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
202103040SAS,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
202103040WAS,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [27]:
df_games.head()

,id,name,minutes_played,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,...,stl,blk,tov,pf,pts,bpm,dnp,timetype,team,game_code
13,14,Team Totals,240.0,38.0,92.0,0.413,12.0,30.0,0.400,19.0,...,6.0,6.0,14.0,17.0,107.0,0.0,0,TotalBasics,DAL,201810260TOR
109,110,Team Totals,240.0,44.0,91.0,0.484,11.0,27.0,0.407,17.0,...,10.0,5.0,12.0,22.0,116.0,0.0,0,TotalBasics,TOR,201810260TOR
195,196,Team Totals,240.0,40.0,99.0,0.404,14.0,36.0,0.389,7.0,...,4.0,6.0,14.0,27.0,101.0,0.0,0,TotalBasics,BOS,201810190TOR
293,294,Team Totals,240.0,43.0,92.0,0.467,13.0,35.0,0.371,14.0,...,3.0,3.0,12.0,19.0,113.0,0.0,0,TotalBasics,TOR,201810190TOR
391,392,Team Totals,240.0,34.0,85.0,0.400,7.0,19.0,0.368,29.0,...,4.0,0.0,16.0,25.0,104.0,0.0,0,TotalBasics,CLE,201810170TOR

In [29]:
# Create Regular Expressions to Parse the game_code column unique to BBall reference
game_coder = re.compile("\d{8}") # game date
home_team_regex = re.compile("[A-Z]{3}") # home team

In [30]:
sample_string = "202011030"

In [32]:
sample_string[4:6]

'11'

In [33]:
def parse_date(row):
    date = game_coder.search(row)[0]
    return dt.datetime(int(date[:4]), int(date[4:6]), int(date[6:]))

In [34]:
df_games = df_games.assign(date = lambda x: x.game_code.apply(parse_date))

In [35]:
def home_team(row):
    home = home_team_regex.search(row)[0]
    return home

In [36]:
df_games = df_games.assign(home_team = lambda x: x.game_code.apply(home_team))

In [37]:
df_games = df_games.assign(home_team_bin = lambda x: x.home_team == x.team)

In [43]:
# Gather Advanced Stats from other table
df_adv = pd.read_sql("SELECT * FROM advanced_stats", con=conn)

In [44]:
df_adv = df_adv[df_adv.name == "Team Totals"]

In [45]:
df_adv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8612 entries, 13 to 117496
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                8612 non-null   int64
 1   name              8612 non-null   object
 2   minutes_played    8612 non-null   float64
 3   ts_pct            8612 non-null   float64
 4   efg_pct           8612 non-null   float64
 5   fg3a_per_fga_pct  8612 non-null   float64
 6   fta_per_fga_pct   8612 non-null   float64
 7   orb_pct           8612 non-null   float64
 8   drb_pct           8612 non-null   float64
 9   trb_pct           8612 non-null   float64
 10  ast_pct           8612 non-null   float64
 11  stl_pct           8612 non-null   float64
 12  blk_pct           8612 non-null   float64
 13  tov_pct           8612 non-null   float64
 14  usg_pct           8612 non-null   float64
 15  off_rtg           8612 non-null   float64
 16  def_rtg           8612 non-null   float64
 17  bpm               8612 non-null   float64
 18  dnp               8612 non-null   int64
 19  timetype          8612 non-null   object
 20  team              8612 non-null   object
 21  game_code         8612 non-null   object
dtypes: float64(16), int64(2), object(4)
memory usage: 1.5+ MB

In [46]:
df_adv.shape

(8612, 22)

In [47]:
dup_games_adv = set(df_adv.groupby("game_code").count().sort_values("minutes_played", ascending=False)[lambda x: x.id > 2].index)

In [51]:
# Perform same check as above on Set of Duplicated Game Codes
df_adv[df_adv.game_code.isin(dup_games_adv)].sort_values(["game_code"]).head(20)

,id,name,minutes_played,ts_pct,efg_pct,fg3a_per_fga_pct,fta_per_fga_pct,orb_pct,drb_pct,trb_pct,...,blk_pct,tov_pct,usg_pct,off_rtg,def_rtg,bpm,dnp,timetype,team,game_code
7990,7991,Team Totals,240.0,0.526,0.484,0.452,0.237,20.8,80.8,52.0,...,9.4,13.5,100.0,104.0,99.1,0.0,0,Advanced,UTA,201812190UTA
8505,8506,Team Totals,240.0,0.526,0.484,0.452,0.237,20.8,80.8,52.0,...,9.4,13.5,100.0,104.0,99.1,0.0,0,Advanced,UTA,201812190UTA
7976,7977,Team Totals,240.0,0.500,0.453,0.326,0.189,19.2,79.2,48.0,...,17.6,10.4,100.0,99.1,104.0,0.0,0,Advanced,GSW,201812190UTA
8491,8492,Team Totals,240.0,0.500,0.453,0.326,0.189,19.2,79.2,48.0,...,17.6,10.4,100.0,99.1,104.0,0.0,0,Advanced,GSW,201812190UTA
8274,8275,Team Totals,240.0,0.542,0.522,0.281,0.247,19.0,81.1,53.7,...,8.5,14.7,100.0,102.8,101.9,0.0,0,Advanced,OKC,201812220UTA
8330,8331,Team Totals,240.0,0.542,0.522,0.281,0.247,19.0,81.1,53.7,...,8.5,14.7,100.0,102.8,101.9,0.0,0,Advanced,OKC,201812220UTA
8344,8345,Team Totals,240.0,0.525,0.511,0.366,0.194,18.9,81.0,46.3,...,6.3,11.4,100.0,101.9,102.8,0.0,0,Advanced,UTA,201812220UTA
8288,8289,Team Totals,240.0,0.525,0.511,0.366,0.194,18.9,81.0,46.3,...,6.3,11.4,100.0,101.9,102.8,0.0,0,Advanced,UTA,201812220UTA
8519,8520,Team Totals,240.0,0.478,0.444,0.258,0.292,21.6,77.5,46.2,...,5.6,10.7,100.0,96.4,117.5,0.0,0,Advanced,POR,201812250UTA
8533,8534,Team Totals,240.0,0.628,0.633,0.349,0.277,22.5,78.4,53.8,...,15.2,15.4,100.0,117.5,96.4,0.0,0,Advanced,UTA,201812250UTA
8205,8206,Team Totals,240.0,0.628,0.633,0.349,0.277,22.5,78.4,53.8,...,15.2,15.4,100.0,117.5,96.4,0.0,0,Advanced,UTA,201812250UTA
8191,8192,Team Totals,240.0,0.478,0.444,0.258,0.292,21.6,77.5,46.2,...,5.6,10.7,100.0,96.4,117.5,0.0,0,Advanced,POR,201812250UTA
7826,7827,Team Totals,240.0,0.496,0.448,0.407,0.314,24.0,78.0,48.4,...,2.0,14.0,100.0,99.3,116.7,0.0,0,Advanced,UTA,201812270UTA
7812,7813,Team Totals,240.0,0.607,0.576,0.407,0.209,22.0,76.0,51.6,...,13.7,12.2,100.0,116.7,99.3,0.0,0,Advanced,PHI,201812270UTA
8425,8426,Team Totals,240.0,0.496,0.448,0.407,0.314,24.0,78.0,48.4,...,2.0,14.0,100.0,99.3,116.7,0.0,0,Advanced,UTA,201812270UTA
8411,8412,Team Totals,240.0,0.607,0.576,0.407,0.209,22.0,76.0,51.6,...,13.7,12.2,100.0,116.7,99.3,0.0,0,Advanced,PHI,201812270UTA
8398,8399,Team Totals,240.0,0.650,0.634,0.387,0.151,35.7,84.9,63.2,...,11.1,14.6,100.0,128.6,96.7,0.0,0,Advanced,UTA,201812290UTA
8384,8385,Team Totals,240.0,0.507,0.459,0.372,0.256,15.1,64.3,36.8,...,1.8,13.6,100.0,96.7,128.6,0.0,0,Advanced,NYK,201812290UTA
7760,7761,Team Totals,240.0,0.507,0.459,0.372,0.256,15.1,64.3,36.8,...,1.8,13.6,100.0,96.7,128.6,0.0,0,Advanced,NYK,201812290UTA
7774,7775,Team Totals,240.0,0.650,0.634,0.387,0.151,35.7,84.9,63.2,...,11.1,14.6,100.0,128.6,96.7,0.0,0,Advanced,UTA,201812290UTA

In [52]:
# They are the same. Drop duplicates
df_adv = df_adv.drop_duplicates(["team", "game_code"])

In [53]:
df_adv.shape

(8572, 22)

In [54]:
df_adv.columns

Index(['id', 'name', 'minutes_played', 'ts_pct', 'efg_pct', 'fg3a_per_fga_pct',
       'fta_per_fga_pct', 'orb_pct', 'drb_pct', 'trb_pct', 'ast_pct',
       'stl_pct', 'blk_pct', 'tov_pct', 'usg_pct', 'off_rtg', 'def_rtg', 'bpm',
       'dnp', 'timetype', 'team', 'game_code'],
      dtype='object')

In [55]:
df_games.columns

Index(['id', 'name', 'minutes_played', 'fg', 'fga', 'fg_pct', 'fg3', 'fg3a',
       'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb', 'drb', 'trb', 'ast', 'stl',
       'blk', 'tov', 'pf', 'pts', 'bpm', 'dnp', 'timetype', 'team',
       'game_code', 'date', 'home_team', 'home_team_bin'],
      dtype='object')

In [56]:
df_games = df_games.loc[:, ['team','minutes_played', 'fg', 'fga', 'fg_pct', 'fg3', 'fg3a',
       'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb', 'drb', 'trb', 'ast', 'stl',
       'blk', 'tov', 'pf', 'pts', 'home_team', 'home_team_bin', 'date', 'game_code']]

In [57]:
df_adv = df_adv.loc[:, ['team', "game_code", 'ts_pct', 'efg_pct', 'fg3a_per_fga_pct',
       'fta_per_fga_pct', 'orb_pct', 'drb_pct', 'trb_pct', 'ast_pct',
       'stl_pct', 'blk_pct', 'tov_pct', 'usg_pct', 'off_rtg', 'def_rtg', 'bpm']]

In [58]:
df_games = df_games.reset_index(drop=True)
df_adv = df_adv.reset_index(drop=True)

In [59]:
# Full dataframe combining basic and advanced statistics for teams
df_full_stats = pd.merge(df_games, df_adv, on=["game_code", "team"])

In [60]:
df_full_stats.columns

Index(['team', 'minutes_played', 'fg', 'fga', 'fg_pct', 'fg3', 'fg3a',
       'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb', 'drb', 'trb', 'ast', 'stl',
       'blk', 'tov', 'pf', 'pts', 'home_team', 'home_team_bin', 'date',
       'game_code', 'ts_pct', 'efg_pct', 'fg3a_per_fga_pct', 'fta_per_fga_pct',
       'orb_pct', 'drb_pct', 'trb_pct', 'ast_pct', 'stl_pct', 'blk_pct',
       'tov_pct', 'usg_pct', 'off_rtg', 'def_rtg', 'bpm'],
      dtype='object')

In [65]:
# Rearrange Columns
df_full_stats = df_full_stats.loc[:, ['team', 'minutes_played', 'fg', 'fga', 'fg_pct', 'fg3', 'fg3a',
       'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb', 'drb', 'trb', 'ast', 'stl',
       'blk', 'tov', 'ts_pct', 'efg_pct', 'fg3a_per_fga_pct', 'fta_per_fga_pct',
       'orb_pct', 'drb_pct', 'trb_pct', 'ast_pct', 'stl_pct', 'blk_pct',
       'tov_pct', 'usg_pct', 'off_rtg', 'def_rtg', 'pf','pts', 'home_team', 'home_team_bin','game_code', 'date']]

In [66]:
# Ensure Symmetry (home teams = away teams)
df_full_stats.groupby("home_team_bin").count()

,team,minutes_played,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,fta,...,blk_pct,tov_pct,usg_pct,off_rtg,def_rtg,pf,pts,home_team,game_code,date
home_team_bin,,,,,,,,,,,,,,,,,,,,,
False,4286,4286,4286,4286,4286,4286,4286,4286,4286,4286,...,4286,4286,4286,4286,4286,4286,4286,4286,4286,4286
True,4286,4286,4286,4286,4286,4286,4286,4286,4286,4286,...,4286,4286,4286,4286,4286,4286,4286,4286,4286,4286

In [67]:
df_full_stats.head()

,team,minutes_played,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,fta,...,tov_pct,usg_pct,off_rtg,def_rtg,pf,pts,home_team,home_team_bin,game_code,date
0,DAL,240.0,38.0,92.0,0.413,12.0,30.0,0.400,19.0,24.0,...,12.0,100.0,106.2,115.2,17.0,107.0,TOR,False,201810260TOR,2018-10-26
1,TOR,240.0,44.0,91.0,0.484,11.0,27.0,0.407,17.0,20.0,...,10.7,100.0,115.2,106.2,22.0,116.0,TOR,True,201810260TOR,2018-10-26
2,BOS,240.0,40.0,99.0,0.404,14.0,36.0,0.389,7.0,10.0,...,11.9,100.0,103.3,115.6,27.0,101.0,TOR,False,201810190TOR,2018-10-19
3,TOR,240.0,43.0,92.0,0.467,13.0,35.0,0.371,14.0,19.0,...,10.7,100.0,115.6,103.3,19.0,113.0,TOR,True,201810190TOR,2018-10-19
4,CLE,240.0,34.0,85.0,0.400,7.0,19.0,0.368,29.0,39.0,...,13.5,100.0,103.7,115.6,25.0,104.0,TOR,False,201810170TOR,2018-10-17

In [68]:
# NBA 17-18 Season: Oct 17, 2017 - June 8, 2018
# NBA 18-19 Season: October 16, 2018 - June 13, 2019
# NBA 19-20 Season: October 22, 2019 - October 11, 2020 (Bubble Season) - 71-75 game regular season 
# NBA 20-21 Season: Dec 22, 2020 - July 20th 2021 (Shortened Season) - 72 game regular season + 6 play-in playoff games
def seasoner(date):
    if date <= dt.datetime(2018, 6, 8):
        return "17-18"
    elif date <= dt.datetime(2019, 6, 13):
        return "18-19"
    elif date <= dt.datetime(2020, 10, 11):
        return "19-20"
    else:
        return "20-21"

In [69]:
df_full_stats.assign(NBA_season = lambda x: x.date.apply(seasoner)).groupby("NBA_season").count()

,team,minutes_played,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,fta,...,tov_pct,usg_pct,off_rtg,def_rtg,pf,pts,home_team,home_team_bin,game_code,date
NBA_season,,,,,,,,,,,,,,,,,,,,,
17-18,2624,2624,2624,2624,2624,2624,2624,2624,2624,2624,...,2624,2624,2624,2624,2624,2624,2624,2624,2624,2624
18-19,2624,2624,2624,2624,2624,2624,2624,2624,2624,2624,...,2624,2624,2624,2624,2624,2624,2624,2624,2624,2624
19-20,2284,2284,2284,2284,2284,2284,2284,2284,2284,2284,...,2284,2284,2284,2284,2284,2284,2284,2284,2284,2284
20-21,1040,1040,1040,1040,1040,1040,1040,1040,1040,1040,...,1040,1040,1040,1040,1040,1040,1040,1040,1040,1040

In [71]:
df_full_stats = df_full_stats.assign(NBA_season = lambda x: x.date.apply(seasoner))

In [72]:
# def playoffs(date):
#     # 4/11/18
#     if (date >= dt.datetime(2018, 4, 11)) and (date <= dt.datetime(2018, 6, 8)):
#         return 1
#     # 4/13/19
#     elif (date >= dt.datetime(2019, 4, 13)) and (date <= dt.datetime(2019, 6, 13)):
#         return 1
#     # 8/17/20
#     elif (date >= dt.datetime(2020, 8, 15)) and (date <= dt.datetime(2020, 10, 11)):
#         return 1
#     else:
#         return 0

In [135]:
# df_full_stats = df_full_stats.assign(playoffs = lambda x: x.date.apply(playoffs))

In [73]:
df_full_stats.head()

,team,minutes_played,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,fta,...,usg_pct,off_rtg,def_rtg,pf,pts,home_team,home_team_bin,game_code,date,NBA_season
0,DAL,240.0,38.0,92.0,0.413,12.0,30.0,0.400,19.0,24.0,...,100.0,106.2,115.2,17.0,107.0,TOR,False,201810260TOR,2018-10-26,18-19
1,TOR,240.0,44.0,91.0,0.484,11.0,27.0,0.407,17.0,20.0,...,100.0,115.2,106.2,22.0,116.0,TOR,True,201810260TOR,2018-10-26,18-19
2,BOS,240.0,40.0,99.0,0.404,14.0,36.0,0.389,7.0,10.0,...,100.0,103.3,115.6,27.0,101.0,TOR,False,201810190TOR,2018-10-19,18-19
3,TOR,240.0,43.0,92.0,0.467,13.0,35.0,0.371,14.0,19.0,...,100.0,115.6,103.3,19.0,113.0,TOR,True,201810190TOR,2018-10-19,18-19
4,CLE,240.0,34.0,85.0,0.400,7.0,19.0,0.368,29.0,39.0,...,100.0,103.7,115.6,25.0,104.0,TOR,False,201810170TOR,2018-10-17,18-19

## Basketball Reference Data Status:
    *We have a complete dataframe that includes all of the total results based statistics, both advanced and basic, in a single dataframe (df_full_stats).
    
    *The data is complete for all teams and needs to be combined with the game-level bookie information we have from external sources.
    
    *The corresponding join for df_full_stats will be a many-to-one join (2 teams to 1 market row).
    
    * Teams are abbrevaited by their 3 letter bball reference code.

<h1 style="color: green">Offshore Sportsbook Data</h1>

In [74]:
# # Finished pairing Down the Data to a Game by Game table structured by each home team
# g_by_g_df.to_csv("../data/interim/game_by_game_stats.csv", index=False)

In [78]:
# Goal: Pair clean and complete Bookmaker Data With Right Games:
odds_17 = pd.read_csv("../data/external/vegas_17_18.csv")
odds_17_playoffs = pd.read_csv("../data/external/vegas_playoff_17_18.csv")
odds_18 = pd.read_csv("../data/external/vegas_18_19.csv")
odds_18_playoffs = pd.read_csv("../data/external/vegas_playoff_18_19.csv")

In [76]:
odds_17.columns

Index(['Date', 'Location', 'Team', 'OppTeam', 'TeamId', 'GameId',
       'PercentBet_ML', 'Open_Line_ML', 'Pinnacle_ML', '5dimes_ML',
       'Heritage_ML', 'Bovada_ML', 'Betonline_ML', 'Average_Line_ML',
       'Best_Line_ML', 'Worst_Line_ML', 'PercentBet_Spread',
       'Open_Line_Spread', 'Open_Odds_Spread', 'Pinnacle_Line_Spread',
       'Pinnacle_Odds_Spread', '5dimes_Line_Spread', '5dimes_Odds_Spread',
       'Heritage_Line_Spread', 'Heritage_Odds_Spread', 'Bovada_Line_Spread',
       'Bovada_Odds_Spread', 'Betonline_Line_Spread', 'Betonline_Odds_Spread',
       'Average_Line_Spread', 'Average_Odds_Spread', 'Best_Line_Spread',
       'Worst_Line_Spread', 'Best_Odds_Spread', 'Worst_Odds_Spread',
       'PercentBet_OU', 'Open_Line_OU', 'Open_Odds_OU', 'Pinnacle_Line_OU',
       'Pinnacle_Odds_OU', '5dimes_Line_OU', '5dimes_Odds_OU',
       'Heritage_Line_OU', 'Heritage_Odds_OU', 'Bovada_Line_OU',
       'Bovada_Odds_OU', 'Betonline_Line_OU', 'Betonline_Odds_OU',
       'Average_Line_OU', 'Average_Odds_OU', 'Best_Line_OU', 'Worst_Line_OU',
       'Best_Odds_OU', 'Worst_Odds_OU', 'Pts', 'Spread', 'Result', 'Total'],
      dtype='object')

In [77]:
odds_17.head()

,Date,Location,Team,OppTeam,TeamId,GameId,PercentBet_ML,Open_Line_ML,Pinnacle_ML,5dimes_ML,...,Average_Line_OU,Average_Odds_OU,Best_Line_OU,Worst_Line_OU,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total
0,2017-10-17,away,Boston,Cleveland,1610612738,21700001,50.4,150.0,166,170,...,216.17,-106.83,216.5,216.0,-101.0,-110,99.0,-3.0,L,201.0
1,2017-10-17,home,Cleveland,Boston,1610612739,21700001,49.6,-170.0,-185,-185,...,216.17,-108.17,216.5,216.0,-105.0,-110,102.0,3.0,W,201.0
2,2017-10-17,away,Houston,Golden State,1610612745,21700002,52.7,405.0,377,420,...,231.75,-109.67,235.0,230.5,-103.0,-115,122.0,1.0,W,243.0
3,2017-10-17,home,Golden State,Houston,1610612744,21700002,47.3,-500.0,-440,-475,...,231.75,-105.33,235.0,230.5,-100.0,-110,121.0,-1.0,L,243.0
4,2017-10-18,away,Charlotte,Detroit,1610612766,21700003,51.3,130.0,127,130,...,202.17,-107.83,203.0,202.0,-102.0,-115,90.0,-12.0,L,192.0

In [79]:
odds_17.columns == odds_17_playoffs.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [80]:
odds_17.loc[:, ["playoffs"]] = 0
odds_18.loc[:, ["playoffs"]] = 0
odds_17_playoffs.loc[:, ["playoffs"]] = 1
odds_18_playoffs.loc[:, ["playoffs"]] = 1

In [124]:
odds_18.shape

(2452, 59)

In [81]:
full_odds_df = pd.concat([odds_17, odds_17_playoffs, odds_18, odds_18_playoffs], axis=0, ignore_index=True)

In [85]:
full_odds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5240 entries, 0 to 5239
Data columns (total 59 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   5240 non-null   object
 1   Location               5240 non-null   object
 2   Team                   5240 non-null   object
 3   OppTeam                5240 non-null   object
 4   TeamId                 5240 non-null   int64
 5   GameId                 5240 non-null   int64
 6   PercentBet_ML          5240 non-null   float64
 7   Open_Line_ML           5098 non-null   float64
 8   Pinnacle_ML            5140 non-null   float64
 9   5dimes_ML              5142 non-null   float64
 10  Heritage_ML            5128 non-null   float64
 11  Bovada_ML              5126 non-null   float64
 12  Betonline_ML           5138 non-null   float64
 13  Average_Line_ML        5240 non-null   float64
 14  Best_Line_ML           5240 non-null   float64
 15  Worst_Line_ML          5240 non-null   float64
 16  PercentBet_Spread      5240 non-null   float64
 17  Open_Line_Spread       5100 non-null   float64
 18  Open_Odds_Spread       5100 non-null   float64
 19  Pinnacle_Line_Spread   5204 non-null   float64
 20  Pinnacle_Odds_Spread   5204 non-null   float64
 21  5dimes_Line_Spread     5220 non-null   float64
 22  5dimes_Odds_Spread     5220 non-null   float64
 23  Heritage_Line_Spread   5216 non-null   float64
 24  Heritage_Odds_Spread   5216 non-null   float64
 25  Bovada_Line_Spread     5186 non-null   float64
 26  Bovada_Odds_Spread     5186 non-null   float64
 27  Betonline_Line_Spread  5218 non-null   float64
 28  Betonline_Odds_Spread  5218 non-null   float64
 29  Average_Line_Spread    5240 non-null   float64
 30  Average_Odds_Spread    5240 non-null   float64
 31  Best_Line_Spread       5240 non-null   float64
 32  Worst_Line_Spread      5240 non-null   float64
 33  Best_Odds_Spread       5240 non-null   float64
 34  Worst_Odds_Spread      5240 non-null   float64
 35  PercentBet_OU          5240 non-null   float64
 36  Open_Line_OU           5048 non-null   float64
 37  Open_Odds_OU           5048 non-null   float64
 38  Pinnacle_Line_OU       5154 non-null   float64
 39  Pinnacle_Odds_OU       5154 non-null   float64
 40  5dimes_Line_OU         5123 non-null   float64
 41  5dimes_Odds_OU         5123 non-null   float64
 42  Heritage_Line_OU       5142 non-null   float64
 43  Heritage_Odds_OU       5142 non-null   float64
 44  Bovada_Line_OU         5098 non-null   float64
 45  Bovada_Odds_OU         5098 non-null   float64
 46  Betonline_Line_OU      5142 non-null   float64
 47  Betonline_Odds_OU      5142 non-null   float64
 48  Average_Line_OU        5240 non-null   float64
 49  Average_Odds_OU        5240 non-null   float64
 50  Best_Line_OU           5240 non-null   float64
 51  Worst_Line_OU          5240 non-null   float64
 52  Best_Odds_OU           5240 non-null   float64
 53  Worst_Odds_OU          5240 non-null   float64
 54  Pts                    5240 non-null   float64
 55  Spread                 5240 non-null   float64
 56  Result                 5240 non-null   object
 57  Total                  5240 non-null   float64
 58  playoffs               5240 non-null   int64
dtypes: float64(51), int64(3), object(5)
memory usage: 2.4+ MB

<h3 style="color: red">Understanding Nulls</h3>
<ul>
    <li>The Sportsbook Columns for the variety of lines they provide (moneylines, spreads, over/unders) are the columns with the most nulls</li>
    <li>Additionally, the time based metric of the summary ones (Open_Line_Spread, Open_Line_ML, etc.), which corresponds to what the bookmakers started the market at, is missing data.</li>
    <li>Summary Data about min/max (Best/Worst Line and Odds), Averages, Percentage Bet, nominal Game Data, and results Data are all intact.</li>
</ul>

In [90]:
full_odds_df.iloc[:, 7:13].count()

Open_Line_ML    5098
Pinnacle_ML     5140
5dimes_ML       5142
Heritage_ML     5128
Bovada_ML       5126
Betonline_ML    5138
dtype: int64

In [101]:
full_odds_df[(full_odds_df.iloc[:, 7].isnull())].iloc[:, 7:13].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 1922 to 5201
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open_Line_ML  0 non-null      float64
 1   Pinnacle_ML   134 non-null    float64
 2   5dimes_ML     132 non-null    float64
 3   Heritage_ML   136 non-null    float64
 4   Bovada_ML     140 non-null    float64
 5   Betonline_ML  126 non-null    float64
dtypes: float64(6)
memory usage: 7.8 KB

In [104]:
full_odds_df[(full_odds_df.iloc[:, 8].isnull())].iloc[:, 7:13].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 2726 to 5231
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open_Line_ML  92 non-null     float64
 1   Pinnacle_ML   0 non-null      float64
 2   5dimes_ML     86 non-null     float64
 3   Heritage_ML   84 non-null     float64
 4   Bovada_ML     96 non-null     float64
 5   Betonline_ML  82 non-null     float64
dtypes: float64(6)
memory usage: 5.5 KB

In [105]:
full_odds_df[(full_odds_df.iloc[:, 9].isnull())].iloc[:, 7:13].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98 entries, 2720 to 5235
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open_Line_ML  88 non-null     float64
 1   Pinnacle_ML   84 non-null     float64
 2   5dimes_ML     0 non-null      float64
 3   Heritage_ML   90 non-null     float64
 4   Bovada_ML     92 non-null     float64
 5   Betonline_ML  74 non-null     float64
dtypes: float64(6)
memory usage: 5.4 KB

In [106]:
full_odds_df[(full_odds_df.iloc[:, 36].isnull())].iloc[:, 36:47].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 2634 to 5235
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Open_Line_OU       0 non-null      float64
 1   Open_Odds_OU       0 non-null      float64
 2   Pinnacle_Line_OU   182 non-null    float64
 3   Pinnacle_Odds_OU   182 non-null    float64
 4   5dimes_Line_OU     183 non-null    float64
 5   5dimes_Odds_OU     183 non-null    float64
 6   Heritage_Line_OU   186 non-null    float64
 7   Heritage_Odds_OU   186 non-null    float64
 8   Bovada_Line_OU     186 non-null    float64
 9   Bovada_Odds_OU     186 non-null    float64
 10  Betonline_Line_OU  184 non-null    float64
dtypes: float64(11)
memory usage: 18.0 KB

In [109]:
full_odds_df[(full_odds_df.iloc[:, 44].isnull())].iloc[:, 36:48].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 2746 to 5235
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Open_Line_OU       136 non-null    float64
 1   Open_Odds_OU       136 non-null    float64
 2   Pinnacle_Line_OU   128 non-null    float64
 3   Pinnacle_Odds_OU   128 non-null    float64
 4   5dimes_Line_OU     116 non-null    float64
 5   5dimes_Odds_OU     116 non-null    float64
 6   Heritage_Line_OU   134 non-null    float64
 7   Heritage_Odds_OU   134 non-null    float64
 8   Bovada_Line_OU     0 non-null      float64
 9   Bovada_Odds_OU     0 non-null      float64
 10  Betonline_Line_OU  122 non-null    float64
 11  Betonline_Odds_OU  122 non-null    float64
dtypes: float64(12)
memory usage: 14.4 KB

In [115]:
full_odds_df[full_odds_df.Bovada_Line_OU.notnull()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5098 entries, 0 to 5239
Data columns (total 59 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   5098 non-null   object
 1   Location               5098 non-null   object
 2   Team                   5098 non-null   object
 3   OppTeam                5098 non-null   object
 4   TeamId                 5098 non-null   int64
 5   GameId                 5098 non-null   int64
 6   PercentBet_ML          5098 non-null   float64
 7   Open_Line_ML           4960 non-null   float64
 8   Pinnacle_ML            5012 non-null   float64
 9   5dimes_ML              5008 non-null   float64
 10  Heritage_ML            4996 non-null   float64
 11  Bovada_ML              4996 non-null   float64
 12  Betonline_ML           5000 non-null   float64
 13  Average_Line_ML        5098 non-null   float64
 14  Best_Line_ML           5098 non-null   float64
 15  Worst_Line_ML          5098 non-null   float64
 16  PercentBet_Spread      5098 non-null   float64
 17  Open_Line_Spread       4972 non-null   float64
 18  Open_Odds_Spread       4972 non-null   float64
 19  Pinnacle_Line_Spread   5068 non-null   float64
 20  Pinnacle_Odds_Spread   5068 non-null   float64
 21  5dimes_Line_Spread     5082 non-null   float64
 22  5dimes_Odds_Spread     5082 non-null   float64
 23  Heritage_Line_Spread   5078 non-null   float64
 24  Heritage_Odds_Spread   5078 non-null   float64
 25  Bovada_Line_Spread     5052 non-null   float64
 26  Bovada_Odds_Spread     5052 non-null   float64
 27  Betonline_Line_Spread  5078 non-null   float64
 28  Betonline_Odds_Spread  5078 non-null   float64
 29  Average_Line_Spread    5098 non-null   float64
 30  Average_Odds_Spread    5098 non-null   float64
 31  Best_Line_Spread       5098 non-null   float64
 32  Worst_Line_Spread      5098 non-null   float64
 33  Best_Odds_Spread       5098 non-null   float64
 34  Worst_Odds_Spread      5098 non-null   float64
 35  PercentBet_OU          5098 non-null   float64
 36  Open_Line_OU           4912 non-null   float64
 37  Open_Odds_OU           4912 non-null   float64
 38  Pinnacle_Line_OU       5026 non-null   float64
 39  Pinnacle_Odds_OU       5026 non-null   float64
 40  5dimes_Line_OU         5007 non-null   float64
 41  5dimes_Odds_OU         5007 non-null   float64
 42  Heritage_Line_OU       5008 non-null   float64
 43  Heritage_Odds_OU       5008 non-null   float64
 44  Bovada_Line_OU         5098 non-null   float64
 45  Bovada_Odds_OU         5098 non-null   float64
 46  Betonline_Line_OU      5020 non-null   float64
 47  Betonline_Odds_OU      5020 non-null   float64
 48  Average_Line_OU        5098 non-null   float64
 49  Average_Odds_OU        5098 non-null   float64
 50  Best_Line_OU           5098 non-null   float64
 51  Worst_Line_OU          5098 non-null   float64
 52  Best_Odds_OU           5098 non-null   float64
 53  Worst_Odds_OU          5098 non-null   float64
 54  Pts                    5098 non-null   float64
 55  Spread                 5098 non-null   float64
 56  Result                 5098 non-null   object
 57  Total                  5098 non-null   float64
 58  playoffs               5098 non-null   int64
dtypes: float64(51), int64(3), object(5)
memory usage: 2.3+ MB

In [200]:
full_odds_df[(full_odds_df.iloc[:, 11].isnull())].loc[:, ["Bovada_ML", 'Bovada_Line_Spread',
       'Bovada_Odds_Spread', 'Bovada_Line_OU',
       'Bovada_Odds_OU']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114 entries, 586 to 5239
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Bovada_ML           0 non-null      float64
 1   Bovada_Line_Spread  110 non-null    float64
 2   Bovada_Odds_Spread  110 non-null    float64
 3   Bovada_Line_OU      102 non-null    float64
 4   Bovada_Odds_OU      102 non-null    float64
dtypes: float64(5)
memory usage: 5.3 KB

In [201]:
full_odds_df[(full_odds_df.iloc[:, 44].isnull())].loc[:, ["Bovada_ML", 'Bovada_Line_Spread',
       'Bovada_Odds_Spread', 'Bovada_Line_OU',
       'Bovada_Odds_OU']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 2746 to 5235
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Bovada_ML           130 non-null    float64
 1   Bovada_Line_Spread  134 non-null    float64
 2   Bovada_Odds_Spread  134 non-null    float64
 3   Bovada_Line_OU      0 non-null      float64
 4   Bovada_Odds_OU      0 non-null      float64
dtypes: float64(5)
memory usage: 6.7 KB

In [204]:
full_odds_df[(full_odds_df.iloc[:, 25].isnull())].loc[:, ["Bovada_ML", 'Bovada_Line_Spread',
       'Bovada_Odds_Spread', 'Bovada_Line_OU',
       'Bovada_Odds_OU', 'Pinnacle_Line_Spread', 'Pinnacle_Odds_Spread']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54 entries, 2726 to 5193
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Bovada_ML             50 non-null     float64
 1   Bovada_Line_Spread    0 non-null      float64
 2   Bovada_Odds_Spread    0 non-null      float64
 3   Bovada_Line_OU        46 non-null     float64
 4   Bovada_Odds_OU        46 non-null     float64
 5   Pinnacle_Line_Spread  48 non-null     float64
 6   Pinnacle_Odds_Spread  48 non-null     float64
dtypes: float64(7)
memory usage: 3.4 KB

In [306]:
full_odds_df = full_odds_df.rename({"Open_Line_ML": "Open_ML"}, axis=1)

In [332]:
def fill_in_nulls(df, column_list, groupings=3):
    book_regex = re.compile(r"Open|Pinnacle|5dimes|Heritage|Bovada|Betonline")
    # Create a Dictionary of Columns of books to their closest correlate book
    correlate_dictionary = {}
    for columns in column_list:
        correlation_matrix = df.dropna().loc[:, columns].corr()
        for column in correlation_matrix.columns:
            correlate_dictionary[column] = correlation_matrix.loc[:, column].sort_values().index[-2]
    
    for index, row in df.iterrows():
        for columns in column_list:
            for column in columns:
                if np.isnan(row[column]) and ("ML" in column): # checks for np.nan and if Moneyline
                    if np.isnan(row[correlate_dictionary[column]]): # checks for associate correlate np.nan
                        df.loc[index, column] = row[column.replace(book_regex.search(column)[0], "Average_Line")] # reverts to average
                    else:
                        df.loc[index, column] = row[correlate_dictionary[column]] # Correlate was not null, row is filled in
                elif np.isnan(row[column]): # checks for np.nan and if number is spread/total 
                    if np.isnan(row[correlate_dictionary[column]]): # checks for associate correlate np.nan
                        df.loc[index, column] = row[column.replace(book_regex.search(column)[0], "Average")] # reverts to average
                        df.loc[index, column.replace("Line", "Odds")] = row[column.replace(book_regex.search(column)[0], "Average").replace("Line", "Odds")]
                    else:
                        df.loc[index, column] = row[correlate_dictionary[column]] # Correlate was not null, number is filled in
                        df.loc[index, column.replace("Line", "Odds")] = row[correlate_dictionary[column].replace("Line", "Odds")] # Correlate was not null, corresponding Odds are filled in
    
    return df

In [328]:
sample_df = full_odds_df.copy(deep=True)

In [329]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5240 entries, 0 to 5239
Data columns (total 59 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   5240 non-null   object
 1   Location               5240 non-null   object
 2   Team                   5240 non-null   object
 3   OppTeam                5240 non-null   object
 4   TeamId                 5240 non-null   int64
 5   GameId                 5240 non-null   int64
 6   PercentBet_ML          5240 non-null   float64
 7   Open_ML                5098 non-null   float64
 8   Pinnacle_ML            5140 non-null   float64
 9   5dimes_ML              5142 non-null   float64
 10  Heritage_ML            5128 non-null   float64
 11  Bovada_ML              5126 non-null   float64
 12  Betonline_ML           5138 non-null   float64
 13  Average_Line_ML        5240 non-null   float64
 14  Best_Line_ML           5240 non-null   float64
 15  Worst_Line_ML          5240 non-null   float64
 16  PercentBet_Spread      5240 non-null   float64
 17  Open_Line_Spread       5100 non-null   float64
 18  Open_Odds_Spread       5100 non-null   float64
 19  Pinnacle_Line_Spread   5204 non-null   float64
 20  Pinnacle_Odds_Spread   5204 non-null   float64
 21  5dimes_Line_Spread     5220 non-null   float64
 22  5dimes_Odds_Spread     5220 non-null   float64
 23  Heritage_Line_Spread   5216 non-null   float64
 24  Heritage_Odds_Spread   5216 non-null   float64
 25  Bovada_Line_Spread     5186 non-null   float64
 26  Bovada_Odds_Spread     5186 non-null   float64
 27  Betonline_Line_Spread  5218 non-null   float64
 28  Betonline_Odds_Spread  5218 non-null   float64
 29  Average_Line_Spread    5240 non-null   float64
 30  Average_Odds_Spread    5240 non-null   float64
 31  Best_Line_Spread       5240 non-null   float64
 32  Worst_Line_Spread      5240 non-null   float64
 33  Best_Odds_Spread       5240 non-null   float64
 34  Worst_Odds_Spread      5240 non-null   float64
 35  PercentBet_OU          5240 non-null   float64
 36  Open_Line_OU           5048 non-null   float64
 37  Open_Odds_OU           5048 non-null   float64
 38  Pinnacle_Line_OU       5154 non-null   float64
 39  Pinnacle_Odds_OU       5154 non-null   float64
 40  5dimes_Line_OU         5123 non-null   float64
 41  5dimes_Odds_OU         5123 non-null   float64
 42  Heritage_Line_OU       5142 non-null   float64
 43  Heritage_Odds_OU       5142 non-null   float64
 44  Bovada_Line_OU         5098 non-null   float64
 45  Bovada_Odds_OU         5098 non-null   float64
 46  Betonline_Line_OU      5142 non-null   float64
 47  Betonline_Odds_OU      5142 non-null   float64
 48  Average_Line_OU        5240 non-null   float64
 49  Average_Odds_OU        5240 non-null   float64
 50  Best_Line_OU           5240 non-null   float64
 51  Worst_Line_OU          5240 non-null   float64
 52  Best_Odds_OU           5240 non-null   float64
 53  Worst_Odds_OU          5240 non-null   float64
 54  Pts                    5240 non-null   float64
 55  Spread                 5240 non-null   float64
 56  Result                 5240 non-null   object
 57  Total                  5240 non-null   float64
 58  playoffs               5240 non-null   int64
dtypes: float64(51), int64(3), object(5)
memory usage: 2.4+ MB

In [333]:
wanted_columns = [['Open_ML', 'Pinnacle_ML', '5dimes_ML','Heritage_ML', 'Bovada_ML', 'Betonline_ML'],
 ['Open_Line_Spread', 'Pinnacle_Line_Spread', '5dimes_Line_Spread', '5dimes_Odds_Spread',
 'Heritage_Line_Spread', 'Bovada_Line_Spread','Betonline_Line_Spread'], 
 ['Open_Line_OU', 'Pinnacle_Line_OU','5dimes_Line_OU', 
 'Heritage_Line_OU', 'Bovada_Line_OU','Betonline_Line_OU']]

In [330]:
new_df = fill_in_nulls(sample_df, wanted_columns)

replaced 550 2
replaced 551 2
replaced 586 2
replaced 587 2
replaced 1286 2
replaced 1287 2
replaced 1922 2
replaced 1922 2
replaced 1923 2
replaced 1923 2
replaced 1982 2
replaced 1982 4
replaced 1983 2
replaced 1983 4
replaced 2262 2
replaced 2263 2
replaced 2304 2
replaced 2304 2
replaced 2305 2
replaced 2305 2
replaced 2306 2
replaced 2306 2
replaced 2307 2
replaced 2307 2
replaced 2394 2
replaced 2394 2
replaced 2395 2
replaced 2395 2
replaced 2402 2
replaced 2403 2
replaced 2404 2
replaced 2404 2
replaced 2405 2
replaced 2405 2
replaced 2452 2
replaced 2453 2
replaced 2624 4
replaced 2625 4
replaced 2628 4
replaced 2629 4
replaced 2630 2
replaced 2631 2
replaced 2634 4
replaced 2635 4
replaced 2635 4
replaced 2636 4
replaced 2637 4
replaced 2638 2
replaced 2639 2
replaced 2642 4
replaced 2643 4
replaced 2644 2
replaced 2644 4
replaced 2645 2
replaced 2645 4
replaced 2650 2
replaced 2651 2
replaced 2692 4
replaced 2693 4
replaced 2694 4
replaced 2695 4
replaced 2710 4
replaced 2711 4
replaced 2720 2
replaced 2721 2
replaced 2724 4
replaced 2725 4
replaced 2726 2
replaced 2726 4
replaced 2727 2
replaced 2727 4
replaced 2730 4
replaced 2731 4
replaced 2734 2
replaced 2734 4
replaced 2734 4
replaced 2735 2
replaced 2735 4
replaced 2735 4
replaced 2736 4
replaced 2737 4
replaced 2744 2
replaced 2744 3
replaced 2744 4
replaced 2745 2
replaced 2745 3
replaced 2745 4
replaced 2746 2
replaced 2746 4
replaced 2747 2
replaced 2747 4
replaced 2748 2
replaced 2749 2
replaced 2750 4
replaced 2751 4
replaced 2754 2
replaced 2754 4
replaced 2754 4
replaced 2755 2
replaced 2755 4
replaced 2755 4
replaced 2756 4
replaced 2757 4
replaced 2760 2
replaced 2760
replaced 2760 4
replaced 2761 2
replaced 2761
replaced 2761 4
replaced 2762 4
replaced 2763 4
replaced 2766 4
replaced 2767 4
replaced 2768 4
replaced 2768 4
replaced 2769 4
replaced 2769 4
replaced 2770 2
replaced 2770
replaced 2771 2
replaced 2771
replaced 2774 4
replaced 2774 4
replaced 2775 4
replaced 2775 4
replaced 2778 2
replaced 2778 4
replaced 2779 2
replaced 2779 4
replaced 2780 4
replaced 2780 4
replaced 2781 4
replaced 2781 4
replaced 2782 2
replaced 2782
replaced 2783 2
replaced 2783
replaced 2790 2
replaced 2790 4
replaced 2791 2
replaced 2791 4
replaced 2792 4
replaced 2793 4
replaced 2796 4
replaced 2796 4
replaced 2796 3
replaced 2796 4
replaced 2797 4
replaced 2797 4
replaced 2797 3
replaced 2797 4
replaced 2798 4
replaced 2798 3
replaced 2798 3
replaced 2799 4
replaced 2799 3
replaced 2799 3
replaced 2800 4
replaced 2801 4
replaced 2802 4
replaced 2802 4
replaced 2803 4
replaced 2803 4
replaced 2804 2
replaced 2804 4
replaced 2805 2
replaced 2805 4
replaced 2806 3
replaced 2806 3
replaced 2806 3
replaced 2806 3
replaced 2806 3
replaced 2807 3
replaced 2807 3
replaced 2807 3
replaced 2807 3
replaced 2807 3
replaced 2808 4
replaced 2809 4
replaced 2810 2
replaced 2810 4
replaced 2810 4
replaced 2811 2
replaced 2811 4
replaced 2811 4
replaced 2812 4
replaced 2812 3
replaced 2812 3
replaced 2812 3
replaced 2813 4
replaced 2813 3
replaced 2813 3
replaced 2813 3
replaced 2814 2
replaced 2814 4
replaced 2815 2
replaced 2815 4
replaced 2816 4
replaced 2816 4
replaced 2817 4
replaced 2817 4
replaced 2822 2
replaced 2822
replaced 2823 2
replaced 2823
replaced 2824 4
replaced 2825 4
replaced 2828 2
replaced 2828 4
replaced 2829 2
replaced 2829 4
replaced 2836 4
replaced 2837 4
replaced 2838 4
replaced 2839 4
replaced 2842 4
replaced 2843 4
replaced 2846 2
replaced 2847 2
replaced 2848 4
replaced 2848 4
replaced 2849 4
replaced 2849 4
replaced 2852 4
replaced 2853 4
replaced 2856 2
replaced 2857 2
replaced 2858 2
replaced 2859 2
replaced 2860 2
replaced 2861 2
replaced 2866 2
replaced 2867 2
replaced 2870 2
replaced 2870
replaced 2871 2
replaced 2871
replaced 2874 2
replaced 2874 4
replaced 2874 4
replaced 2874 4
replaced 2875 2
replaced 2875 4
replaced 2875 4
replaced 2875 4
replaced 2876 2
replaced 2876 4
replaced 2877 2
replaced 2877 4
replaced 2878 4
replaced 2878 3
replaced 2879 4
replaced 2879 3
replaced 2880 4
replaced 2880 4
replaced 2881 4
replaced 2881 4
replaced 2886 2
replaced 2887 2
replaced 2890 4
replaced 2891 4
replaced 2900 4
replaced 2901 4
replaced 2902 4
replaced 2902 4
replaced 2902 4
replaced 2903 4
replaced 2903 4
replaced 2903 4
replaced 2904 4
replaced 2905 4
replaced 2908 2
replaced 2908 2
replaced 2908 4
replaced 2909 2
replaced 2909 2
replaced 2909 4
replaced 2910 2
replaced 2910 4
replaced 2911 2
replaced 2911 4
replaced 2914 4
replaced 2915 4
replaced 2916 4
replaced 2916 3
replaced 2917 4
replaced 2917 3
replaced 2928 4
replaced 2928 4
replaced 2929 4
replaced 2929 4
replaced 2932 4
replaced 2933 4
replaced 2934 4
replaced 2935 4
replaced 2936 4
replaced 2937 4
replaced 2938 4
replaced 2939 4
replaced 2948 2
replaced 2949 2
replaced 2950 4
replaced 2951 4
replaced 2952 2
replaced 2952 4
replaced 2953 2
replaced 2953 4
replaced 2954 2
replaced 2954 4
replaced 2955 2
replaced 2955 4
replaced 2960 4
replaced 2961 4
replaced 2962 4
replaced 2962 4
replaced 2963 4
replaced 2963 4
replaced 2964 4
replaced 2964 4
replaced 2965 4
replaced 2965 4
replaced 2966 2
replaced 2966 4
replaced 2966 4
replaced 2967 2
replaced 2967 4
replaced 2967 4
replaced 2968 4
replaced 2969 4
replaced 2972 4
replaced 2973 4
replaced 2980 4
replaced 2981 4
replaced 2986 4
replaced 2987 4
replaced 2990 4
replaced 2990 4
replaced 2990 4
replaced 2990 3
replaced 2991 4
replaced 2991 4
replaced 2991 4
replaced 2991 3
replaced 2992 4
replaced 2993 4
replaced 2994 4
replaced 2995 4
replaced 2996 4
replaced 2997 4
replaced 2998 4
replaced 2999 4
replaced 3008 4
replaced 3009 4
replaced 3022 2
replaced 3023 2
replaced 3024 4
replaced 3025 4
replaced 3026
replaced 3026
replaced 3026 3
replaced 3026 4
replaced 3026 4
replaced 3027
replaced 3027
replaced 3027 3
replaced 3027 4
replaced 3027 4
replaced 3028 4
replaced 3028 4
replaced 3028 4
replaced 3028 4
replaced 3029 4
replaced 3029 4
replaced 3029 4
replaced 3029 4
replaced 3030 4
replaced 3030 4
replaced 3030 4
replaced 3031 4
replaced 3031 4
replaced 3031 4
replaced 3032 4
replaced 3032 4
replaced 3032 4
replaced 3032 4
replaced 3033 4
replaced 3033 4
replaced 3033 4
replaced 3033 4
replaced 3034 4
replaced 3034 3
replaced 3034 3
replaced 3034 4
replaced 3035 4
replaced 3035 3
replaced 3035 3
replaced 3035 4
replaced 3036 4
replaced 3036 4
replaced 3037 4
replaced 3037 4
replaced 3038 4
replaced 3039 4
replaced 3040 2
replaced 3040 4
replaced 3040 4
replaced 3041 2
replaced 3041 4
replaced 3041 4
replaced 3042 2
replaced 3043 2
replaced 3044 2
replaced 3044 3
replaced 3044 4
replaced 3044 4
replaced 3044 4
replaced 3045 2
replaced 3045 3
replaced 3045 4
replaced 3045 4
replaced 3045 4
replaced 3046
replaced 3046
replaced 3046
replaced 3046 4
replaced 3046 4
replaced 3047
replaced 3047
replaced 3047
replaced 3047 4
replaced 3047 4
replaced 3048 2
replaced 3049 2
replaced 3050 2
replaced 3051 2
replaced 3052
replaced 3052
replaced 3053
replaced 3053
replaced 3054 4
replaced 3055 4
replaced 3058
replaced 3058
replaced 3059
replaced 3059
replaced 3066 2
replaced 3067 2
replaced 3068 4
replaced 3069 4
replaced 3070 2
replaced 3070 4
replaced 3071 2
replaced 3071 4
replaced 3072 4
replaced 3073 4
replaced 3074 4
replaced 3075 4
replaced 3080 2
replaced 3080 4
replaced 3080 3
replaced 3081 2
replaced 3081 4
replaced 3081 3
replaced 3082 4
replaced 3083 4
replaced 3084 4
replaced 3085 4
replaced 3086 2
replaced 3086 4
replaced 3087 2
replaced 3087 4
replaced 3088 4
replaced 3089 4
replaced 3092 4
replaced 3093 4
replaced 3094 2
replaced 3095 2
replaced 3102 4
replaced 3103 4
replaced 3106 4
replaced 3107 4
replaced 3110 4
replaced 3110 4
replaced 3111 4
replaced 3111 4
replaced 3112 2
replaced 3112
replaced 3113 2
replaced 3113
replaced 3124 4
replaced 3125 4
replaced 3128 4
replaced 3129 4
replaced 3132 4
replaced 3133 4
replaced 3134 4
replaced 3135 4
replaced 3136 2
replaced 3137 2
replaced 3138 4
replaced 3139 4
replaced 3142 2
replaced 3143 2
replaced 3148 2
replaced 3148 4
replaced 3149 2
replaced 3149 4
replaced 3154 2
replaced 3155 2
replaced 3156 4
replaced 3157 4
replaced 3158 4
replaced 3159 4
replaced 3180 4
replaced 3180 4
replaced 3181 4
replaced 3181 4
replaced 3182 2
replaced 3182 4
replaced 3183 2
replaced 3183 4
replaced 3184 2
replaced 3184 4
replaced 3185 2
replaced 3185 4
replaced 3186 2
replaced 3186 4
replaced 3187 2
replaced 3187 4
replaced 3188 4
replaced 3189 4
replaced 3190 4
replaced 3191 4
replaced 3192 2
replaced 3193 2
replaced 3194 2
replaced 3194 4
replaced 3195 2
replaced 3195 4
replaced 3196 4
replaced 3196 4
replaced 3197 4
replaced 3197 4
replaced 3198 4
replaced 3199 4
replaced 3200 2
replaced 3201 2
replaced 3202 4
replaced 3203 4
replaced 3204 2
replaced 3204 4
replaced 3204 4
replaced 3205 2
replaced 3205 4
replaced 3205 4
replaced 3206 2
replaced 3206 4
replaced 3207 2
replaced 3207 4
replaced 3214 2
replaced 3215 2
replaced 3224 4
replaced 3225 4
replaced 3226 4
replaced 3227 4
replaced 3228 4
replaced 3229 4
replaced 3232 2
replaced 3232 2
replaced 3232 4
replaced 3232 4
replaced 3233 2
replaced 3233 2
replaced 3233 4
replaced 3233 4
replaced 3234 4
replaced 3235 4
replaced 3236 2
replaced 3236
replaced 3236
replaced 3236
replaced 3236 4
replaced 3236 3
replaced 3236 4
replaced 3237 2
replaced 3237
replaced 3237
replaced 3237
replaced 3237 4
replaced 3237 3
replaced 3237 4
replaced 3238 2
replaced 3238 2
replaced 3238 2
replaced 3238 2
replaced 3238 4
replaced 3238 4
replaced 3238 4
replaced 3239 2
replaced 3239 2
replaced 3239 2
replaced 3239 2
replaced 3239 4
replaced 3239 4
replaced 3239 4
replaced 3240 4
replaced 3240 4
replaced 3241 4
replaced 3241 4
replaced 3242 4
replaced 3242 4
replaced 3243 4
replaced 3243 4
replaced 3244 2
replaced 3244 2
replaced 3245 2
replaced 3245 2
replaced 3246 4
replaced 3247 4
replaced 3248 4
replaced 3249 4
replaced 3250 2
replaced 3250 2
replaced 3250 4
replaced 3250 4
replaced 3251 2
replaced 3251 2
replaced 3251 4
replaced 3251 4
replaced 3260 2
replaced 3260 4
replaced 3261 2
replaced 3261 4
replaced 3262 4
replaced 3263 4
replaced 3264 2
replaced 3264 4
replaced 3265 2
replaced 3265 4
replaced 3270 4
replaced 3270 4
replaced 3271 4
replaced 3271 4
replaced 3272 2
replaced 3273 2
replaced 3274 2
replaced 3275 2
replaced 3278 4
replaced 3279 4
replaced 3280 2
replaced 3280 4
replaced 3280 4
replaced 3281 2
replaced 3281 4
replaced 3281 4
replaced 3282 4
replaced 3282 4
replaced 3283 4
replaced 3283 4
replaced 3284 2
replaced 3284 4
replaced 3284 4
replaced 3284 3
replaced 3284 4
replaced 3284 4
replaced 3285 2
replaced 3285 4
replaced 3285 4
replaced 3285 3
replaced 3285 4
replaced 3285 4
replaced 3286 2
replaced 3287 2
replaced 3288 4
replaced 3289 4
replaced 3290 2
replaced 3291 2
replaced 3292 2
replaced 3292 4
replaced 3293 2
replaced 3293 4
replaced 3298 2
replaced 3299 2
replaced 3300
replaced 3300 2
replaced 3301
replaced 3301 2
replaced 3302 4
replaced 3303 4
replaced 3304 2
replaced 3304 4
replaced 3305 2
replaced 3305 4
replaced 3308 4
replaced 3308 4
replaced 3309 4
replaced 3309 4
replaced 3310 4
replaced 3311 4
replaced 3312 4
replaced 3313 4
replaced 3314 4
replaced 3315 4
replaced 3316 4
replaced 3317 4
replaced 3322 4
replaced 3322 4
replaced 3323 4
replaced 3323 4
replaced 3324 2
replaced 3324 4
replaced 3325 2
replaced 3325 4
replaced 3326 2
replaced 3326 4
replaced 3327 2
replaced 3327 4
replaced 3328 2
replaced 3328 4
replaced 3328 4
replaced 3329 2
replaced 3329 4
replaced 3329 4
replaced 3330 4
replaced 3331 4
replaced 3332 4
replaced 3333 4
replaced 3334 4
replaced 3334 4
replaced 3335 4
replaced 3335 4
replaced 3336 4
replaced 3337 4
replaced 3338 4
replaced 3339 4
replaced 3342 4
replaced 3342 4
replaced 3343 4
replaced 3343 4
replaced 3344 4
replaced 3344 4
replaced 3345 4
replaced 3345 4
replaced 3348 4
replaced 3349 4
replaced 3354 2
replaced 3354 4
replaced 3355 2
replaced 3355 4
replaced 3394 2
replaced 3395 2
replaced 3398 2
replaced 3398 4
replaced 3399 2
replaced 3399 4
replaced 3400 2
replaced 3401 2
replaced 3402 3
replaced 3402 3
replaced 3403 3
replaced 3403 3
replaced 3412 2
replaced 3413 2
replaced 3418 2
replaced 3418 4
replaced 3419 2
replaced 3419 4
replaced 3428 2
replaced 3429 2
replaced 3436 4
replaced 3437 4
replaced 3438 2
replaced 3439 2
replaced 3448 4
replaced 3448 4
replaced 3449 4
replaced 3449 4
replaced 3450 2
replaced 3451 2
replaced 3454 2
replaced 3454 4
replaced 3455 2
replaced 3455 4
replaced 3456 2
replaced 3456 2
replaced 3457 2
replaced 3457 2
replaced 3458 2
replaced 3459 2
replaced 3462 2
replaced 3463 2
replaced 3468 2
replaced 3469 2
replaced 3472 4
replaced 3473 4
replaced 3474 4
replaced 3475 4
replaced 3480 4
replaced 3481 4
replaced 3484 4
replaced 3484 4
replaced 3484 4
replaced 3485 4
replaced 3485 4
replaced 3485 4
replaced 3492 2
replaced 3492 4
replaced 3493 2
replaced 3493 4
replaced 3508 2
replaced 3508
replaced 3509 2
replaced 3509
replaced 3510 2
replaced 3511 2
replaced 3512 2
replaced 3512 2
replaced 3513 2
replaced 3513 2
replaced 3514 4
replaced 3515 4
replaced 3516 4
replaced 3517 4
replaced 3518 2
replaced 3519 2
replaced 3520 2
replaced 3521 2
replaced 3524 3
replaced 3524 4
replaced 3525 3
replaced 3525 4
replaced 3536 2
replaced 3537 2
replaced 3546 2
replaced 3547 2
replaced 3548 2
replaced 3549 2
replaced 3552 2
replaced 3552 2
replaced 3552
replaced 3552 4
replaced 3553 2
replaced 3553 2
replaced 3553
replaced 3553 4
replaced 3554 2
replaced 3554 2
replaced 3554
replaced 3554 2
replaced 3555 2
replaced 3555 2
replaced 3555
replaced 3555 2
replaced 3556 4
replaced 3557 4
replaced 3558 4
replaced 3559 4
replaced 3560 4
replaced 3560 3
replaced 3560 4
replaced 3561 4
replaced 3561 3
replaced 3561 4
replaced 3562 4
replaced 3563 4
replaced 3566 4
replaced 3566 4
replaced 3566 4
replaced 3567 4
replaced 3567 4
replaced 3567 4
replaced 3570 2
replaced 3570 4
replaced 3571 2
replaced 3571 4
replaced 3572 3
replaced 3572 4
replaced 3573 3
replaced 3573 4
replaced 3576 2
replaced 3577 2
replaced 3580 4
replaced 3580 4
replaced 3581 4
replaced 3581 4
replaced 3582 2
replaced 3582 4
replaced 3583 2
replaced 3583 4
replaced 3586 2
replaced 3586 4
replaced 3587 2
replaced 3587 4
replaced 3592 2
replaced 3593 2
replaced 3594 2
replaced 3594
replaced 3594
replaced 3595 2
replaced 3595
replaced 3595
replaced 3596 2
replaced 3597 2
replaced 3598 2
replaced 3599 2
replaced 3600 2
replaced 3601 2
replaced 3602 2
replaced 3603 2
replaced 3604 2
replaced 3604 2
replaced 3604
replaced 3604 2
replaced 3605 2
replaced 3605 2
replaced 3605
replaced 3605 2
replaced 3606 2
replaced 3606 2
replaced 3607 2
replaced 3607 2
replaced 3608 2
replaced 3609 2
replaced 3610 2
replaced 3610 2
replaced 3611 2
replaced 3611 2
replaced 3612 4
replaced 3613 4
replaced 3614 4
replaced 3615 4
replaced 3616 2
replaced 3616 4
replaced 3617 2
replaced 3617 4
replaced 3716 3
replaced 3716 3
replaced 3717 3
replaced 3717 3
replaced 3724 3
replaced 3724 3
replaced 3725 3
replaced 3725 3
replaced 3730 2
replaced 3731 2
replaced 3742 2
replaced 3743 2
replaced 3756 4
replaced 3757 4
replaced 3758 4
replaced 3758 4
replaced 3759 4
replaced 3759 4
replaced 3760 4
replaced 3761 4
replaced 3768 4
replaced 3769 4
replaced 3828 2
replaced 3829 2
replaced 3836 2
replaced 3837 2
replaced 3860 4
replaced 3861 4
replaced 3876 2
replaced 3877 2
replaced 3886 2
replaced 3886 4
replaced 3887 2
replaced 3887 4
replaced 3890 2
replaced 3890 4
replaced 3891 2
replaced 3891 4
replaced 3898 2
replaced 3898 4
replaced 3899 2
replaced 3899 4
replaced 3904 2
replaced 3905 2
replaced 3908 2
replaced 3909 2
replaced 3910 2
replaced 3911 2
replaced 3912 2
replaced 3913 2
replaced 3920 4
replaced 3921 4
replaced 3934 4
replaced 3935 4
replaced 3960 4
replaced 3961 4
replaced 3966 2
replaced 3967 2
replaced 3968 4
replaced 3969 4
replaced 3984 2
replaced 3985 2
replaced 3990 2
replaced 3991 2
replaced 3994 2
replaced 3995 2
replaced 3998 2
replaced 3999 2
replaced 4022 4
replaced 4023 4
replaced 4024 4
replaced 4025 4
replaced 4028 2
replaced 4029 2
replaced 4050 4
replaced 4051 4
replaced 4060 4
replaced 4061 4
replaced 4084 2
replaced 4085 2
replaced 4110 2
replaced 4111 2
replaced 4124 2
replaced 4125 2
replaced 4128 4
replaced 4129 4
replaced 4134 4
replaced 4135 4
replaced 4140 2
replaced 4141 2
replaced 4142 4
replaced 4143 4
replaced 4152 4
replaced 4153 4
replaced 4168 2
replaced 4169 2
replaced 4192 4
replaced 4193 4
replaced 4226 2
replaced 4227 2
replaced 4230 4
replaced 4231 4
replaced 4232 4
replaced 4233 4
replaced 4238 4
replaced 4239 4
replaced 4242 2
replaced 4243 2
replaced 4244 4
replaced 4245 4
replaced 4252 4
replaced 4253 4
replaced 4254 4
replaced 4255 4
replaced 4256 4
replaced 4257 4
replaced 4258 2
replaced 4259 2
replaced 4268 4
replaced 4269 4
replaced 4304 2
replaced 4305 2
replaced 4324 4
replaced 4325 4
replaced 4356 2
replaced 4357 2
replaced 4386 4
replaced 4387 4
replaced 4420 2
replaced 4421 2
replaced 4430 4
replaced 4431 4
replaced 4464 2
replaced 4465 2
replaced 4478 2
replaced 4478 4
replaced 4479 2
replaced 4479 4
replaced 4484 2
replaced 4484 4
replaced 4485 2
replaced 4485 4
replaced 4486 2
replaced 4486
replaced 4487 2
replaced 4487
replaced 4492 2
replaced 4492 4
replaced 4493 2
replaced 4493 4
replaced 4496 2
replaced 4496 4
replaced 4497 2
replaced 4497 4
replaced 4498 2
replaced 4498
replaced 4498 4
replaced 4498 4
replaced 4499 2
replaced 4499
replaced 4499 4
replaced 4499 4
replaced 4502 4
replaced 4503 4
replaced 4506 4
replaced 4507 4
replaced 4510 2
replaced 4510 4
replaced 4511 2
replaced 4511 4
replaced 4514 2
replaced 4515 2
replaced 4516 4
replaced 4516 4
replaced 4517 4
replaced 4517 4
replaced 4520 2
replaced 4521 2
replaced 4524 2
replaced 4525 2
replaced 4526 2
replaced 4527 2
replaced 4528 4
replaced 4529 4
replaced 4530 4
replaced 4531 4
replaced 4538 4
replaced 4539 4
replaced 4540 2
replaced 4540
replaced 4541 2
replaced 4541
replaced 4542 2
replaced 4543 2
replaced 4544 3
replaced 4544 3
replaced 4544 3
replaced 4544 3
replaced 4545 3
replaced 4545 3
replaced 4545 3
replaced 4545 3
replaced 4550 4
replaced 4551 4
replaced 4552 4
replaced 4552 3
replaced 4553 4
replaced 4553 3
replaced 4558 4
replaced 4558 3
replaced 4559 4
replaced 4559 3
replaced 4560 4
replaced 4561 4
replaced 4562 4
replaced 4563 4
replaced 4566 4
replaced 4567 4
replaced 4568 2
replaced 4569 2
replaced 4570 2
replaced 4570 4
replaced 4570 4
replaced 4571 2
replaced 4571 4
replaced 4571 4
replaced 4572 2
replaced 4573 2
replaced 4584 4
replaced 4585 4
replaced 4586 2
replaced 4586 4
replaced 4587 2
replaced 4587 4
replaced 4590
replaced 4590 2
replaced 4590
replaced 4590 4
replaced 4591
replaced 4591 2
replaced 4591
replaced 4591 4
replaced 4592 4
replaced 4592 4
replaced 4593 4
replaced 4593 4
replaced 4594 2
replaced 4595 2
replaced 4596 2
replaced 4597 2
replaced 4598 2
replaced 4599 2
replaced 4600 2
replaced 4600 2
replaced 4601 2
replaced 4601 2
replaced 4602 2
replaced 4603 2
replaced 4604 2
replaced 4604 2
replaced 4604
replaced 4605 2
replaced 4605 2
replaced 4605
replaced 4612 2
replaced 4612 4
replaced 4613 2
replaced 4613 4
replaced 4614 2
replaced 4615 2
replaced 4616 4
replaced 4617 4
replaced 4618 4
replaced 4618 4
replaced 4619 4
replaced 4619 4
replaced 4620 2
replaced 4620 4
replaced 4620 4
replaced 4621 2
replaced 4621 4
replaced 4621 4
replaced 4622 4
replaced 4623 4
replaced 4626 2
replaced 4626 4
replaced 4627 2
replaced 4627 4
replaced 4628 2
replaced 4629 2
replaced 4630 2
replaced 4631 2
replaced 4632 4
replaced 4633 4
replaced 4634 4
replaced 4635 4
replaced 4638 2
replaced 4639 2
replaced 4640 2
replaced 4641 2
replaced 4642 4
replaced 4643 4
replaced 4644 4
replaced 4645 4
replaced 4646 4
replaced 4647 4
replaced 4652 4
replaced 4653 4
replaced 4654 2
replaced 4654 2
replaced 4654 4
replaced 4655 2
replaced 4655 2
replaced 4655 4
replaced 4656 2
replaced 4656 4
replaced 4657 2
replaced 4657 4
replaced 4660 2
replaced 4661 2
replaced 4662 2
replaced 4662 4
replaced 4662 4

In [331]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5240 entries, 0 to 5239
Data columns (total 59 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   5240 non-null   object
 1   Location               5240 non-null   object
 2   Team                   5240 non-null   object
 3   OppTeam                5240 non-null   object
 4   TeamId                 5240 non-null   int64
 5   GameId                 5240 non-null   int64
 6   PercentBet_ML          5240 non-null   float64
 7   Open_ML                5240 non-null   float64
 8   Pinnacle_ML            5240 non-null   float64
 9   5dimes_ML              5240 non-null   float64
 10  Heritage_ML            5240 non-null   float64
 11  Bovada_ML              5240 non-null   float64
 12  Betonline_ML           5240 non-null   float64
 13  Average_Line_ML        5240 non-null   float64
 14  Best_Line_ML           5240 non-null   float64
 15  Worst_Line_ML          5240 non-null   float64
 16  PercentBet_Spread      5240 non-null   float64
 17  Open_Line_Spread       5240 non-null   float64
 18  Open_Odds_Spread       5240 non-null   float64
 19  Pinnacle_Line_Spread   5240 non-null   float64
 20  Pinnacle_Odds_Spread   5240 non-null   float64
 21  5dimes_Line_Spread     5240 non-null   float64
 22  5dimes_Odds_Spread     5240 non-null   float64
 23  Heritage_Line_Spread   5240 non-null   float64
 24  Heritage_Odds_Spread   5240 non-null   float64
 25  Bovada_Line_Spread     5240 non-null   float64
 26  Bovada_Odds_Spread     5240 non-null   float64
 27  Betonline_Line_Spread  5240 non-null   float64
 28  Betonline_Odds_Spread  5240 non-null   float64
 29  Average_Line_Spread    5240 non-null   float64
 30  Average_Odds_Spread    5240 non-null   float64
 31  Best_Line_Spread       5240 non-null   float64
 32  Worst_Line_Spread      5240 non-null   float64
 33  Best_Odds_Spread       5240 non-null   float64
 34  Worst_Odds_Spread      5240 non-null   float64
 35  PercentBet_OU          5240 non-null   float64
 36  Open_Line_OU           5240 non-null   float64
 37  Open_Odds_OU           5240 non-null   float64
 38  Pinnacle_Line_OU       5240 non-null   float64
 39  Pinnacle_Odds_OU       5240 non-null   float64
 40  5dimes_Line_OU         5240 non-null   float64
 41  5dimes_Odds_OU         5240 non-null   float64
 42  Heritage_Line_OU       5240 non-null   float64
 43  Heritage_Odds_OU       5240 non-null   float64
 44  Bovada_Line_OU         5240 non-null   float64
 45  Bovada_Odds_OU         5240 non-null   float64
 46  Betonline_Line_OU      5240 non-null   float64
 47  Betonline_Odds_OU      5240 non-null   float64
 48  Average_Line_OU        5240 non-null   float64
 49  Average_Odds_OU        5240 non-null   float64
 50  Best_Line_OU           5240 non-null   float64
 51  Worst_Line_OU          5240 non-null   float64
 52  Best_Odds_OU           5240 non-null   float64
 53  Worst_Odds_OU          5240 non-null   float64
 54  Pts                    5240 non-null   float64
 55  Spread                 5240 non-null   float64
 56  Result                 5240 non-null   object
 57  Total                  5240 non-null   float64
 58  playoffs               5240 non-null   int64
dtypes: float64(51), int64(3), object(5)
memory usage: 2.4+ MB

In [ ]:
# Remaining Objectives:
 # Get the Vegas Data on a game by game level as is the current case with g_by_g_df
    # Do this by constructing the high level information in the full odds dataframe to reverse back into the original game_codes we have today
    # I think we can still do this by joining on team and date as well. Which should be easier and quicker.
 # Once we have this we will end up with Sportline information for all games of the the past two full seasons (17-18) and (18-19)
    # I did this first so we could have additional information about the gambling markets to compare to the model we will create (i.e.: A baseline to compare our error to the true market error for each game)

    # So once I get this data to a game by game configuration, I will able to match it with our current game information and start the model building process.

In [335]:
full_odds_df.Team.unique()

array(['Boston', 'Cleveland', 'Houston', 'Golden State', 'Charlotte',
       'Detroit', 'Brooklyn', 'Indiana', 'Miami', 'Orlando',
       'Philadelphia', 'Washington', 'Milwaukee', 'New Orleans',
       'Memphis', 'Atlanta', 'Dallas', 'Denver', 'Utah', 'Minnesota',
       'San Antonio', 'Portland', 'Phoenix', 'Sacramento', 'Chicago',
       'Toronto', 'New York', 'Oklahoma City', 'L.A. Clippers',
       'L.A. Lakers'], dtype=object)

In [336]:
team_translator = {'Toronto':"TOR", 'Boston' :"BOS", 'Philadelphia':"PHI", 'Brooklyn' :"BRK" , 'New York':"NYK",
            'Denver':"DEN", 'Utah':"UTA", 'Oklahoma City':"OKC", 'Portland' :"POR" , 'Minnesota':"MIN",
             'Milwaukee':"MIL", 'Indiana':"IND", 'Chicago':"CHI", 'Detroit':"DET", 'Cleveland' :"CLE",
             'Miami':"MIA", 'Orlando':"ORL", 'Washington':"WAS", 'Charlotte':"CHO", 'Atlanta' :"ATL",
             'L.A. Lakers':"LAL", 'L.A. Clippers':"LAC", 'Sacramento':"SAC", 'Phoenix':"PHO", 'Golden State' :"GSW",
             'Dallas':"DAL", 'Houston' :"HOU", 'Memphis':"MEM", 'New Orleans':"NOP", 'San Antonio':"SAS"}

In [337]:
df_full_stats.head()

,team,minutes_played,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,fta,...,usg_pct,off_rtg,def_rtg,pf,pts,home_team,home_team_bin,game_code,date,NBA_season
0,DAL,240.0,38.0,92.0,0.413,12.0,30.0,0.400,19.0,24.0,...,100.0,106.2,115.2,17.0,107.0,TOR,False,201810260TOR,2018-10-26,18-19
1,TOR,240.0,44.0,91.0,0.484,11.0,27.0,0.407,17.0,20.0,...,100.0,115.2,106.2,22.0,116.0,TOR,True,201810260TOR,2018-10-26,18-19
2,BOS,240.0,40.0,99.0,0.404,14.0,36.0,0.389,7.0,10.0,...,100.0,103.3,115.6,27.0,101.0,TOR,False,201810190TOR,2018-10-19,18-19
3,TOR,240.0,43.0,92.0,0.467,13.0,35.0,0.371,14.0,19.0,...,100.0,115.6,103.3,19.0,113.0,TOR,True,201810190TOR,2018-10-19,18-19
4,CLE,240.0,34.0,85.0,0.400,7.0,19.0,0.368,29.0,39.0,...,100.0,103.7,115.6,25.0,104.0,TOR,False,201810170TOR,2018-10-17,18-19

In [339]:
full_odds_df.head()

,Date,Location,Team,OppTeam,TeamId,GameId,PercentBet_ML,Open_ML,Pinnacle_ML,5dimes_ML,...,Average_Odds_OU,Best_Line_OU,Worst_Line_OU,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total,playoffs
0,2017-10-17,away,Boston,Cleveland,1610612738,21700001,50.4,150.0,166.0,170.0,...,-106.83,216.5,216.0,-101.0,-110.0,99.0,-3.0,L,201.0,0
1,2017-10-17,home,Cleveland,Boston,1610612739,21700001,49.6,-170.0,-185.0,-185.0,...,-108.17,216.5,216.0,-105.0,-110.0,102.0,3.0,W,201.0,0
2,2017-10-17,away,Houston,Golden State,1610612745,21700002,52.7,405.0,377.0,420.0,...,-109.67,235.0,230.5,-103.0,-115.0,122.0,1.0,W,243.0,0
3,2017-10-17,home,Golden State,Houston,1610612744,21700002,47.3,-500.0,-440.0,-475.0,...,-105.33,235.0,230.5,-100.0,-110.0,121.0,-1.0,L,243.0,0
4,2017-10-18,away,Charlotte,Detroit,1610612766,21700003,51.3,130.0,127.0,130.0,...,-107.83,203.0,202.0,-102.0,-115.0,90.0,-12.0,L,192.0,0

In [21]:
full_odds_df.sort_values("GameId")

,Date,Location,Team,OppTeam,TeamId,GameId,PercentBet_ML,Open_Line_ML,Pinnacle_ML,5dimes_ML,...,Average_Odds_OU,Best_Line_OU,Worst_Line_OU,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total,playoffs
0,2017-10-17,away,Boston,Cleveland,1610612738,21700001,50.4,150.0,166.0,170.0,...,-106.83,216.5,216.0,-101.0,-110.0,99.0,-3.0,L,201.0,0
1,2017-10-17,home,Cleveland,Boston,1610612739,21700001,49.6,-170.0,-185.0,-185.0,...,-108.17,216.5,216.0,-105.0,-110.0,102.0,3.0,W,201.0,0
2,2017-10-17,away,Houston,Golden State,1610612745,21700002,52.7,405.0,377.0,420.0,...,-109.67,235.0,230.5,-103.0,-115.0,122.0,1.0,W,243.0,0
3,2017-10-17,home,Golden State,Houston,1610612744,21700002,47.3,-500.0,-440.0,-475.0,...,-105.33,235.0,230.5,-100.0,-110.0,121.0,-1.0,L,243.0,0
4,2017-10-18,away,Charlotte,Detroit,1610612766,21700003,51.3,130.0,127.0,130.0,...,-107.83,203.0,202.0,-102.0,-115.0,90.0,-12.0,L,192.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5235,2019-06-07,home,Golden State,Toronto,1610612744,41800404,50.2,-253.0,-216.0,NaN,...,-105.00,215.5,214.5,-105.0,-105.0,92.0,-13.0,L,197.0,1
5236,2019-06-10,away,Golden State,Toronto,1610612744,41800405,59.7,135.0,-104.0,-105.0,...,-108.17,217.0,211.5,-104.0,-115.0,106.0,1.0,W,211.0,1
5237,2019-06-10,home,Toronto,Golden State,1610612761,41800405,40.3,-155.0,-106.0,-105.0,...,-106.83,217.0,211.5,-105.0,-110.0,105.0,-1.0,L,211.0,1
5238,2019-06-13,away,Toronto,Golden State,1610612761,41800406,54.2,151.0,125.0,125.0,...,-107.50,212.5,211.0,-102.0,-115.0,114.0,4.0,W,224.0,1
5239,2019-06-13,home,Golden State,Toronto,1610612744,41800406,45.8,-175.0,-138.0,-135.0,...,-107.50,212.5,211.0,-105.0,-110.0,110.0,-4.0,L,224.0,1

In [23]:
def home(location):
    if location == "home":
        return True
    else:
        return False

In [26]:
full_odds_df = full_odds_df.assign(home_team_bin = lambda x: x.Location.apply(home))

In [28]:
full_odds_df = full_odds_df.assign(team_abbv = lambda x: x.Team.apply(lambda x: team_translator[x]))

In [29]:
full_odds_df

,Date,Location,Team,OppTeam,TeamId,GameId,PercentBet_ML,Open_Line_ML,Pinnacle_ML,5dimes_ML,...,Worst_Line_OU,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total,playoffs,home_team_bin,team_abbv
0,2017-10-17,away,Boston,Cleveland,1610612738,21700001,50.4,150.0,166.0,170.0,...,216.0,-101.0,-110.0,99.0,-3.0,L,201.0,0,False,BOS
1,2017-10-17,home,Cleveland,Boston,1610612739,21700001,49.6,-170.0,-185.0,-185.0,...,216.0,-105.0,-110.0,102.0,3.0,W,201.0,0,True,CLE
2,2017-10-17,away,Houston,Golden State,1610612745,21700002,52.7,405.0,377.0,420.0,...,230.5,-103.0,-115.0,122.0,1.0,W,243.0,0,False,HOU
3,2017-10-17,home,Golden State,Houston,1610612744,21700002,47.3,-500.0,-440.0,-475.0,...,230.5,-100.0,-110.0,121.0,-1.0,L,243.0,0,True,GSW
4,2017-10-18,away,Charlotte,Detroit,1610612766,21700003,51.3,130.0,127.0,130.0,...,202.0,-102.0,-115.0,90.0,-12.0,L,192.0,0,False,CHO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5235,2019-06-07,home,Golden State,Toronto,1610612744,41800404,50.2,-253.0,-216.0,NaN,...,214.5,-105.0,-105.0,92.0,-13.0,L,197.0,1,True,GSW
5236,2019-06-10,away,Golden State,Toronto,1610612744,41800405,59.7,135.0,-104.0,-105.0,...,211.5,-104.0,-115.0,106.0,1.0,W,211.0,1,False,GSW
5237,2019-06-10,home,Toronto,Golden State,1610612761,41800405,40.3,-155.0,-106.0,-105.0,...,211.5,-105.0,-110.0,105.0,-1.0,L,211.0,1,True,TOR
5238,2019-06-13,away,Toronto,Golden State,1610612761,41800406,54.2,151.0,125.0,125.0,...,211.0,-102.0,-115.0,114.0,4.0,W,224.0,1,False,TOR
5239,2019-06-13,home,Golden State,Toronto,1610612744,41800406,45.8,-175.0,-138.0,-135.0,...,211.0,-105.0,-110.0,110.0,-4.0,L,224.0,1,True,GSW

In [30]:
for i, row in full_odds_df.iterrows():
    if row.home_team_bin == True:
        full_odds_df.loc[i, "game_code"] = str(row.Date).replace("-", "") + "0" + row.team_abbv

In [34]:
full_odds_df = full_odds_df.sort_values(["GameId", "Location"], ascending=False)

In [35]:
full_odds_df.head()

,Date,Location,Team,OppTeam,TeamId,GameId,PercentBet_ML,Open_Line_ML,Pinnacle_ML,5dimes_ML,...,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total,playoffs,home_team_bin,team_abbv,game_code
5239,2019-06-13,home,Golden State,Toronto,1610612744,41800406,45.8,-175.0,-138.0,-135.0,...,-105.0,-110.0,110.0,-4.0,L,224.0,1,True,GSW,201906130GSW
5238,2019-06-13,away,Toronto,Golden State,1610612761,41800406,54.2,151.0,125.0,125.0,...,-102.0,-115.0,114.0,4.0,W,224.0,1,False,TOR,NaN
5237,2019-06-10,home,Toronto,Golden State,1610612761,41800405,40.3,-155.0,-106.0,-105.0,...,-105.0,-110.0,105.0,-1.0,L,211.0,1,True,TOR,201906100TOR
5236,2019-06-10,away,Golden State,Toronto,1610612744,41800405,59.7,135.0,-104.0,-105.0,...,-104.0,-115.0,106.0,1.0,W,211.0,1,False,GSW,NaN
5235,2019-06-07,home,Golden State,Toronto,1610612744,41800404,50.2,-253.0,-216.0,NaN,...,-105.0,-105.0,92.0,-13.0,L,197.0,1,True,GSW,201906070GSW

In [38]:
full_odds_df.game_code = full_odds_df.game_code.fillna(method="ffill")

In [44]:
home_odds = full_odds_df[lambda x: x.Location == "home"]
away_odds = full_odds_df[~(full_odds_df.Location == "home")]

In [45]:
pd.merge()

,Date,Location,Team,OppTeam,TeamId,GameId,PercentBet_ML,Open_Line_ML,Pinnacle_ML,5dimes_ML,...,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total,playoffs,home_team_bin,team_abbv,game_code
5239,2019-06-13,home,Golden State,Toronto,1610612744,41800406,45.8,-175.0,-138.0,-135.0,...,-105.0,-110.0,110.0,-4.0,L,224.0,1,True,GSW,201906130GSW
5237,2019-06-10,home,Toronto,Golden State,1610612761,41800405,40.3,-155.0,-106.0,-105.0,...,-105.0,-110.0,105.0,-1.0,L,211.0,1,True,TOR,201906100TOR
5235,2019-06-07,home,Golden State,Toronto,1610612744,41800404,50.2,-253.0,-216.0,NaN,...,-105.0,-105.0,92.0,-13.0,L,197.0,1,True,GSW,201906070GSW
5233,2019-06-05,home,Golden State,Toronto,1610612744,41800403,40.3,-220.0,-133.0,-148.0,...,-105.0,-240.0,109.0,-14.0,L,232.0,1,True,GSW,201906050GSW
5231,2019-06-02,home,Toronto,Golden State,1610612761,41800402,34.3,-120.0,NaN,-132.0,...,-103.0,-115.0,104.0,-5.0,L,213.0,1,True,TOR,201906020TOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,2017-10-18,home,Orlando,Miami,1610612753,21700005,100.0,130.0,146.0,150.0,...,-103.0,-110.0,116.0,7.0,W,225.0,0,True,ORL,201710180ORL
7,2017-10-18,home,Indiana,Brooklyn,1610612754,21700004,56.9,-155.0,-154.0,-150.0,...,-100.0,-115.0,140.0,9.0,W,271.0,0,True,IND,201710180IND
5,2017-10-18,home,Detroit,Charlotte,1610612765,21700003,48.7,-150.0,-140.0,-140.0,...,-105.0,-110.0,102.0,12.0,W,192.0,0,True,DET,201710180DET
3,2017-10-17,home,Golden State,Houston,1610612744,21700002,47.3,-500.0,-440.0,-475.0,...,-100.0,-110.0,121.0,-1.0,L,243.0,0,True,GSW,201710170GSW
1,2017-10-17,home,Cleveland,Boston,1610612739,21700001,49.6,-170.0,-185.0,-185.0,...,-105.0,-110.0,102.0,3.0,W,201.0,0,True,CLE,201710170CLE

In [47]:
odds_final = pd.merge(home_odds, away_odds, on=["game_code"], suffixes=("_home", "_away"))

In [49]:
odds_final.to_csv(index=False, path_or_buf="../data/interim/vegas_game_by_game_odds.csv")